<section class="texplainer-content">
  <header>
    <h2><a href="{% url 'explainer-list-detail' %}">Texplainers</a></h2>
    <h4>Your guide to understanding how the Legislature works</h4>
  </header>
  <div class="texplainer-content-box">
    <iframe width="100%" height="315" src="//www.youtube.com/embed/OhfZlznuaVE" frameborder="0" allowfullscreen></iframe>
    <h3 class="headline">What Really Happens During the 5 Months of Session?</h3>
    <p>The Tribune's Ross Ramsey explains what lawmakers are really doing over the arch of the state's five month session.</p>
  </div>
<!--   <div class="more-videos">
    <header>
      <h5>More Texplainer videos</h5>
    </header>
    <div>
      <header>
        <h4><a href="">What's the Lieutenant Governor Do?</a></h4>
      </header>
    </div>
    <div>
      <header>
        <h4><a href="">Why does everyone keep talking about POOs in the House?</a></h4>
      </header>
    </div>
  </div> -->
</section>
