{% if explainer_list %}
<section class="texplainer-content">
  <header>
    <h2><a href="{% url 'explainer-list-detail' %}">How the Legislature Works</a></h2>
    <h4>Your guide to understanding the Texas Legislature</h4>
  </header>
  {% with first_explainer=explainer_list.first %}
  <div class="texplainer-content-box">
    <div class="flexible-video">
      <iframe width="560" height="315" src="//www.youtube.com/embed/{{ first_explainer.youtube_id }}" frameborder="0" allowfullscreen></iframe>
    </div>
    <h3 class="headline">{{ first_explainer.name }}</h3>
    <p>{{ first_explainer.text|safe }}</p>
  </div>
  {% endwith %}
  {% if explainer_list|length > 1 %}
    <div class="more-videos">
      <header>
        <h5>More videos</h5>
      </header>
      {% for explainer in explainer_list|slice:"1:" %}
      <div>
        <header>
          <h4><a href="{% url 'explainer-list-detail' %}">{{ explainer.name }}</a></h4>
        </header>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</section>
{% endif %}
