<section class="hotlist-nav">
  <header>
    <h2>Legislative Hot Lists <span class="see-all"></h2>
    <h4>Your guide to the issues of the 84th Texas Legislature</h4>
  </header>
  <nav>
    <ul>
      {% for t in topic_list %}
      <li>
        <div class="hotlist-graphic"></div>
        <header>
          <h5><a href=" {% url 'topic-detail' slug=t.slug %} ">{{ t.name }}</a></h5>
        </header>
        <p class="issue"><a href="">More regulations on abortion providers</a></p>
      </li>
      {% endfor %}
    </ul>
  </nav>
</section>
