  <section class="livestream">
    <header>
      <h2><a href="{% url 'legestream' %}">Chamber Livestreams</a></h2>
      <h4>On June 1, 2015, the 84th regular legislative session ended. With its closing, these streams have been decommissioned. Thanks for watching! </h4>
    </header>
    <div class="watch">
      <div class="chamber">
        <h5>House</h5>
        <p>{{ house.time_for.time_string }}</p>
        <div id="house-stream" class="stream-placeholder">
          <div class="stream-prompt">
            <i class="fa fa-play fa-4x"></i>
          </div>
        </div>
      </div>
      <div class="chamber">
        <h5>Senate</h5>
        <p>{{ senate.time_for.time_string }}</p>
        <div id="senate-stream" class="stream-placeholder">
          <div class="stream-prompt">
            <i class="fa fa-play fa-4x"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
