  <section class="livestream">
    <header>
      <h2>LegeStream</h2>
      <h4>See the House and Senate in action</h4>
    </header>
    <div class="watch">
      <div class="chamber">
        <h5>House</h5>
        <p>Convenes at 11 a.m. on 2/13/15 (<a href="">Watch</a>)</p>
<!--         <img src="http://placehold.it/150x100">
 -->      </div>
      <div class="chamber">
        <h5>Senate</h5>
        <p>Convenes at 11 a.m. on 2/13/15 (<a href="">Watch</a>)</p>
<!--         <img src="http://placehold.it/150x100">
 -->      </div>
    </div>
  </section>
