# Python things
*.py[co]
*.egg*

# Node things
node_modules

# Bower things
bower_components

# SQLite3 things
*.db

# Logs
*.log

# OSX Things
.DS_Store
._*

# CSS things
txlege84/static/css/*.css*

# SASS things
.sass-cache/

# Django things
txlege84/media/
txlege84/assets/

# Data things
txlege84/txlege84/data/
