/* Base Theme for HTML elements */

body {
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

.body-main {
  @include clearfix;
}

a {
  color: $href-teal;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

}

.fa {
  font-size: 1em;
  margin-right: .5em;
}

hr {
  background-color: $line-gray;
  border: 0 none;
  height: 2px;
  margin-bottom: 2em;

  &.thin {
    height: 1px;
  }

  &.yellow {
    background-color: $tribune-yellow;
  }
}

ul {
  @include clearfix;
  list-style: none;
  margin: 0;
  padding: 0;
}

section {
  @include clearfix;
}

// Temp styles, should delete
.desktop-hide {
  @include desktop-hide;
}

.mobile-hide {
  @include mobile-hide;
}

.share {
  font-size: 1em;
  a {
    &:hover {
      text-decoration: none;
    }
  }
}
