/* Base Theme for HTML elements */

body {
  background-color: $light-blue;
  font-family: $base-sans-serif;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  text-rendering: optimizelegibility;
}

.body-main {
  background-color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $text-black;
  font-family: $helvetica;
  margin: .25em 0;
  text-align: left;
}

// Project title
h1 {
  color: $tribune-black;
  font-size: 3.25em;
  font-weight: 800;
  line-height: 1em;

  @include media($medium) {
    font-size: 4.5em;
  }

  @include media($large) {
    font-size: 4.5em;
  }
}

// Section or Page Header
h2 {
  border-bottom: 1px solid $masthead-black;
  font-size: 1.75em;
  font-weight: 700;
  margin-top: 1.3em;
  padding-bottom: .2em;
}

// Sidebar Header
h3 {
  font-size: 1.25em;
  font-weight: 700;

  &.section-header {
    margin-bottom: 1em;
  }
}

// Header Tagline
h4 {
  color: $tagline-black;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.2em;
  margin-bottom: 1em;
}

h5 {
  font-size: 0.8em;
  font-family: arial;
  font-size: 0.8em;
  font-weight: 700;
  line-height: 1.2em;
  text-transform: uppercase;
}

header.with-subhead {
  h2 {
    margin: 0 0 1em;
  }

  h5 {
    margin: 2em 0 1em;
  }
}

p {
  font-family: $helvetica;
  font-size: 1em;
  line-height: 1.2em;
  margin-bottom: 1em;
}

a {
  color: $href-teal;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

hr {
  background-color: $line-gray;
  border: 0 none;
  height: 2px;
  margin-bottom: 2em;

  &.thin {
    height: 1px;
  }

  &.yellow {
    background-color: $tribune-yellow;
  }
}

button,
.button {
  color: $bodytext-black;
  background-color: #ccc;
  display: inline-block;
  font-family: $base-sans-serif;
  letter-spacing: .03rem;
  vertical-align: middle;
  @include button(flat, $tribune-yellow);

  &:disabled {
    background-color: darken($explainer-gray, 20%);
    cursor: default;
  }
}

ul {
  @include clearfix;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  color: $li-black;
  font-family: $helvetica;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.6em;
  margin: 0;
  text-align: left;
}

nav {
  @include clearfix;
}

section {
  @include span-columns(12);
  @include clearfix();
}

.desktop-hide {
  display: block;

  @include media($medium) {
    display: none;
  }

  @include media($large) {
    display: none;
  }
}

.mobile-hide {
  @include clearfix;
  display: none;

  @include media($medium) {
    display: block;
  }

  @include media($large) {
    display: block;
  }
}
