<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Texas Legislative Guide | The Texas Tribune</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/brand/favicon.ico' %}">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
  <link rel="apple-touch-icon" href="">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="">
  <meta name="msapplication-TileColor" content="#FFCC20">

  <!-- Facebook Open Graph -->
  {% block og_data %}{% endblock %}

  <!-- Vendor styles -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

  {% block extra_head %}{% endblock %}

  {% include "includes/ads.html" %}

  <script>window.billSnippetURL = '{% url "bill-detail" 0 %}'.replace('0/', '');</script>
  <script>{% include "loaders/loadjs.js" %}loadJS('{% static "scripts/bundle.js" %}');</script>
</head>
<body>

  <section class="masthead">
    <div class="container">
      <a href="http://www.texastribune.org">
        <img class="trib-logo" alt="The Texas Tribune" src="{% static 'images/brand/tribune-nameplate-white.svg' %}">
      </a>
      <button id="menu-button" class="menu-button"><i class="fa fa-bars"></i></button>
    </div>
  </section>

  <nav id="menu-nav" class="menu-nav">
    <div class="container">
      <ul>
        <li><a href="{% url 'find-bills' %}">Find Bills</a></li>
        <li><a href="{% url 'landing-view' %}">Issues by Topic</a></li>
        <li><a href="{% url 'legestream' %}">Livestream</a></li>
        <li><a href="{% url 'explainer-list-detail' %}">How Session Works</a></li>
        <li id="sub-nav-container" class="sub-nav-container">
          <a id="sub-nav-trigger" href="javascript:void(0)">Resources <i class="fa fa-chevron-down"></i></a>
          <ul id="sub-nav" class="sub-nav">
            <li><a href="http://www.texastribune.org/bidness/explore/">Ethics Explorer</a></li>
            <li><a href="http://www.texastribune.org/directory/">Elected Officials Directory</a></li>
            <li><a href="http://s3.amazonaws.com/static.texastribune.org/media/documents/TT-84thLege-HouseSeating2015.pdf">House Seating Chart</a></li>
            <li><a href="http://s3.amazonaws.com/static.texastribune.org/media/documents/TT-84thLege-SenateSeating2015.pdf">Senate Seating Chart</a></li>
            <li><a href="http://www.texastribune.org/directory/offices/">Capitol Map</a></li>
            <li><a href="http://www.texastribune.org/subscribe/">Newsletter Subscriptions</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <section class="banner">
    <div class="banner-image"></div>
    <header class="content-block">
      <h1 class="project-title">Texas Legislative Guide</h1>
      <p class="sub-text center">Your go-to resource for the 2015 Texas legislative session</p>
    </header>
  </section>

  {% if house_convene.stream_is_live %}
    {% include "components/alert.html" with convene_time=house_convene %}
  {% endif %}
  {% if senate_convene.stream_is_live %}
    {% include "components/alert.html" with convene_time=senate_convene %}
  {% endif %}

  <main class="main-container">
    {% block page_header %}{% endblock %}
    <section class="body-main">
    {% block content %}{% endblock %}
    {% include "includes/banner_ad2.html" %}
    </section>
  </main>

  <footer class="footer">
    <div class="main-container">
      <div class="footer-container">
        <div class="logo-container">
          <a href="https://twitter.com/newsapps"><img class="logo" src="{% static 'images/brand/TT-logo-white-stack.png' %}" alt="Texas Tribune logo"></a>
          <p>&#169; 2014 <a href="http://www.texastribune.org/">The Texas Tribune</a></p>
        </div>
        <div>
          <ul>
            <li><a href="http://www.facebook.com/texastribune"><i class="icon fa-facebook-square"></i>Facebook</a></li>
            <li><a href="http://twitter.com/TexasTribune"><i class="icon fa-twitter-square"></i>Twitter</a></li>
            <li><a href="http://www.youtube.com/user/thetexastribune"><i class="icon fa-youtube-play"></i>YouTube</a></li>
            <li><a href="http://instagram.com/texas_tribune"><i class="icon fa-instagram"></i>Instagram</a></li>
            <li><a href="http://www.linkedin.com/company/texas-tribune"><i class="icon fa-linkedin-square"></i>LinkedIn</a></li>
          </ul>
        </div>
        <div class="internal-links">
          <ul>
            <li><a href="http://www.texastribune.org/about/">About Us</a></li>
            <li><a href="http://www.texastribune.org/support-us/donors-and-members/">Who Funds Us?</a></li>
            <li><a href="http://www.texastribune.org/terms-of-service/">Terms of Service</a></li>
            <li><a href="http://www.texastribune.org/ethics/">Code of Ethics</a></li>
            <li><a href="http://www.texastribune.org/privacy/">Privacy Policy</a></li>
            <li><a href="http://www.texastribune.org/corrections/">Corrections</a></li>
            <li><a href="https://www.texastribune.org/join/" class="donate-link">Donate</a></li>
          </ul>
        </div>
        <div class="donate">
          <ul>
            <li>Nonpartisan.</li>
            <li>Nonprofit.</li>
            <li>Statewide.</li>
            <a href="https://www.texastribune.org/join/"><li>Join Us</li></a>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  {% block extra_script %}{% endblock %}

  <!-- Google Analytics -->
  {% include "includes/ga.html" %}

</body>
</html>
