{% extends 'base.html' %}

{% block content %}
{% include "modules/nav-bar.html" %}
<div class="main">
  {% include "modules/bill-search-box.html" %}
  <div class="bill">
    <h1>{{ object.name }}</h1>
    <p>{{ object.description }}</p>
    <p><a href="http://www.legis.state.tx.us/BillLookup/History.aspx?LegSess=84R&Bill={{ object.slug }}" target="_blank">Bill Text</a>, <a href="http://www.capitol.state.tx.us/BillLookup/Amendments.aspx?LegSess=84R&Bill={{ object.slug }}" target="_blank">Amendments</a></p>
    <h5>Last Action</h5>
    <p>{{ object.actions.last.text }} <em> {{ object.actions.last.date }}</em></p>
    <div class="bill-authors">
      <div>
        <h5>Primary Author</h5>
        {% if object.sponsorships.all.0.role = 'author' %}
        <p>Rep. <a href="">{{ object.sponsorships.all.0.legislator }}</a></p>
        {% endif %}
      </div>
      <div>
      <h5>Coauthors</h5>
        {% for o in object.sponsorships.all %}
          {% if o.role = 'coauthor' %}
          <li>Rep. <a href="">{{ o }}</a></li>
          {% endif %}
        {% endfor %}
      </div>
      <div>
        <h5>Sponsor</h5>
        {% for o in object.sponsorships.all %}
          <li>Rep. <a href="">{{ o.legislator }}</a></li>
        {% endfor %}
      </div>
    </div>
    <div class="bill-committee-assignment">
      <div>
        <h5>House Committee</h5>
        {% if object.house_committee != "" %}
          <p>{{ object.house_committee }}</p>
        {% endif %}
      </div>
      <div>
        <h5>Senate Committee</h5>
          {% if object.senate_committee != "" %}
            <p>{{ object.senate_committee }}</p>
          {% endif %}
      </div>
    </div>
    <div class="bill-stages">
      <h5>Bill Stages</h5>
      <div class="bill-stage done">
        <div class="bill-stage-name">Filed</div>
        <div class="date-stage-complete">{{ object.actions.first.date }}</div>
      </div>
      <div class="bill-stage">
        <div class="bill-stage-name">Out of House Committee</div>
        <div class="date-stage-complete"></div>
      </div>
      <div class="bill-stage">
        <div class="bill-stage-name">Approved by House</div>
        <div class="date-stage-complete"></div>
      </div>
      <div class="bill-stage">
        <div class="bill-stage-name">Out of Senate Committee</div>
        <div class="date-stage-complete"></div>
      </div>
      <div class="bill-stage">
        <div class="bill-stage-name">Approved by Senate</div>
        <div class="date-stage-complete"></div>
      </div>
      <div class="bill-stage">
        <div class="bill-stage-name">Governor Action</div>
        <div class="date-stage-complete"></div>
      </div>
      <div class="bill-stage">
        <div class="bill-stage-name">Bill Becomes Law</div>
        <div class="date-stage-complete"></div>
      </div>
    </div>
    <div class="bill-actions">
      <h5>Actions</h5>
      <ul>
      {% for o in object.actions.all %}
        <li>{{ o.text }}</li>
      {% endfor %}
      <ul>
    </div>
  </div>
  <div class="related-issue">
    <div class="feature-box">
      <h5>Related Issue</h5>
      <h2>New taxes to support Texas Lotto</h2>
      <div class="art">
        <img src="http://placehold.it/1024x680">
      </div>
      <p><strong><em>The Gist:</em></strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in arcu commodo, aliquet nunc nec, egestas risus. Nullam quis sapien placerat ex maximus ullamcorper et id justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc pellentesque a massa a hendrerit. Mauris quis pellentesque risus. Donec pellentesque dolor et tellus lacinia, in aliquet nulla convallis. Sed commodo, mi vel tincidunt aliquet, odio libero volutpat mi, et tempus massa quam at tellus. Ut posuere tempus faucibus.</p>
      <p><em>Updated: Jan. 21, 2015</em></p>
      <div class="story-stream">
        <p><strong><em>Story Stream</em></strong></p>
        <div class="slick-slide">
          <h4><em>The Latest:</em> <a href="">Senate Health Committee Considers Merging Agencies</a></h4>
        </div>
        <div class="slick-slide">
          <h4><em>The Latest:</em> <a href="">Senate Health Committee Considers Merging Agencies</a></h4>
        </div>
        <div class="slick-slide">
          <h4><em>The Latest:</em> <a href="">Senate Health Committee Considers Merging Agencies</a></h4>
        </div>
        <div class="slick-slide">
          <h4><em>The Latest:</em> <a href="">Senate Health Committee Considers Merging Agencies</a></h4>
        </div>
        <div class="slick-slide">
          <h4><em>The Latest:</em> <a href="">Senate Health Committee Considers Merging Agencies</a></h4>
        </div>
        <div class="slick-slide">
          <h4><em>The Latest:</em> <a href="">Senate Health Committee Considers Merging Agencies</a></h4>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
