{% extends 'base.html' %}

{% block content %}
{% include "modules/nav-bar.html" %}

<div class="main">
  {% include "modules/bill-search-box.html" %}
  <div class="committee">
    <h2>{{ object.name }}</h2>
    <div class="committee-chair">
      <h5>Chair</h5>
      <!-- <img src="http://s3.amazonaws.com/static.texastribune.org/media/profiles/politicians/charles-schwertner_4_jpg_131x197_crop_q100.jpg"> -->
        <p><a href="">{{ object.chair }}</a></p>
    </div>
    <div class="committee-vice-chair">
      <h5>Vice Chair</h5>
      <!-- <img src="http://s3.amazonaws.com/static.texastribune.org/media/profiles/politicians/bob-deuell_3_jpg_131x197_crop_q100.jpg"> -->
      <p><a href="">{{ object.vice_chair }}</a></p>
    </div>
    <div class="committee-members">
      <h5>Members</h5>
      <ul>
      {% for o in object.member_list %}
        <li><img class="headshot" src="http://s3.amazonaws.com/static.texastribune.org/media/profiles/politicians/charles-schwertner_4_jpg_131x197_crop_q100.jpg"><a href="">{{ o.legislator }}</a></li>
      {% endfor %}
      </ul>
    </div>
    {% include "components/bill-filter.html" %}
       <div class="bill-table">
      <table>
        <thead>
          <tr>
            <th>Bill</th>
            <th>Categories</th>
            <th>Caption</th>
            <th>Referred to committee on</th>
          </tr>
        </thead>
        <tbody>
        {% for o in object.actions.all %}
          <tr>
            <td data-title="Bill Number"><a href="{% url 'bill-detail' o.bill.slug %}">{{ o.bill.name }}</a></td>
            <td data-title="Category">{% for p in o.bill.subjects.all %}{{ p }}<br />{% endfor %}</td>
            <td data-title="Caption">{{ o.bill.description }}</td>
            <td data-title="Referred to Committee on">{{ o.date|date:"SHORT_DATE_FORMAT" }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


</div>

{% endblock %}
