{% extends 'base.html' %}

{% block content %}
<section class="project-header">
  <div class="side-bar">
    <header>
      <h1>On the Lege</h1>
    </header>
  </div>

  <div class="body-main">
    {% include "modules/top-issues.html" %}
  </div>
</section>

<section class="side-bar">
  {% include "modules/bill-search-box.html" %}
  {% include "modules/quick-links.html" %}
</section>

<section class="body-main">
  {% include "modules/livestream.html" %}
  {% include "modules/topic-list-nav.html" %}
  {% include "components/featured-primer.html" %}
</section>
{% endblock %}
