{% extends 'base.html' %}
{% load staticfiles %}

{% block mobileheader %}
  {% include "components/landing-modules/top-issues.html" %}
{% endblock %}

{% block desktopheader %}
  {% include "components/landing-modules/top-issues.html" %}
{% endblock %}

{% block content %}



<section class="body-main">
  {% include "components/landing-modules/livestream.html" %}
  {% include "components/landing-modules/hotlist-nav.html" %}
  {% include "components/landing-modules/featured-texplainer.html" %}
</section>
{% endblock %}
