{% extends 'base.html' %}

{% block content %}
<section class="project-header">
  <header>
    <h1>Lege App Title</h1>
  </header>
</section>
{% include "modules/top-issues.html" %}
{% include "modules/bill-search-box.html" %}

<div class="main">

  {% include "modules/livestream.html" %}
<!--   {% include "modules/bill-search-box.html" %} -->
  {% include "modules/quick-links.html" %}
  <section class="featured-content">
<!--     {% include "components/featured-issue.html" %} -->
    {% include "components/featured-primer.html" %}


    <div class="feature-ad-box" style="height: 150px;">
      AD SPACE?
    </div>
  </section>


</div>




{% endblock %}
