{% extends 'base.html' %}

{% block content %}
{% include "modules/nav-bar.html" %}
<div class="main">
  {% include "modules/bill-search-box.html" %}
  <div class="legislator">
    <div class="legislator-info">
      <img src="http://s3.amazonaws.com/static.texastribune.org/media/profiles/politicians/Campbell-Donna768updated_1_jpg_131x197_crop_q100.jpg">
      <h1>Sen. Donna Campbell, R-New Braunfels</h1>
      <h5>District 25</h5>
      <h5>Capitol office: 3E.8</h5>
      <h5>Phone Number: 512-463-0125</h5>
      <h5><a href="">More Info</a></h5>
    </div>
    <div class="legislator-bills">
      <table>
        <thead>
          <tr>
            <th>Bill Number</th>
            <th>Caption</th>
            <th>Version</th>
            <th>Coauthors</th>
            <th>Sponsor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-title="Bill Number">SB 38</td>
            <td data-title="Caption">Relating to the continuation and functions of the Texas Lottery Commission; providing penalties; imposing fees.</td>
            <td data-title="Version">Introduced</td>
            <td data-title="Coauthors"><a href="">Schwertner</a></td>
            <td data-title="Sponsor"><a href="">Simpson</a></td>
          </tr>
          <tr>
            <td data-title="Bill Number">SB 38</td>
            <td data-title="Caption">Relating to the continuation and functions of the Texas Lottery Commission; providing penalties; imposing fees.</td>
            <td data-title="Version">Introduced</td>
            <td data-title="Coauthors"><a href="">Schwertner</a></td>
            <td data-title="Sponsor"><a href="">Simpson</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
