{% extends 'base.html' %}

{% block content %}
{% include "modules/nav-bar.html" %}
<div class="main">
  {% include "modules/bill-search-box.html" %}
  <div class="legislator">
    <div class="legislator-info">
      <img src="http://s3.amazonaws.com/static.texastribune.org/media/profiles/politicians/Campbell-Donna768updated_1_jpg_131x197_crop_q100.jpg">
      <h2>{% if object.chamber != 'Texas House' %} Sen. {% else %} Rep. {% endif %} {{ object.full_name }}, {{ object.party.short_name }}-{{ object.district }}</h2>
      <p>District {{ object.district }}</p>
      <p>Capitol office: 3E.8</p>
      <p>Phone Number: 512-463-0125</p>
      <p><a href="">More Info</a></p>
    </div>
    <h3>Committees</h4>
    {% for o in object.committee_set.all %}
      <p><a href="">{{ o }}</a></p>
    {% endfor %}
    {% include "components/bill-filter.html" %}

    <div class="bill-table">
      <table>
        <thead>
          <tr>
            <th>Bill Number</th>
            <th>Category</th>
            <th>Caption</th>
          </tr>
        </thead>
        <tbody>
        {% for p in object.sponsorships.all %}
          <tr>
            <td data-title="Bill Number"><a href="{% url 'bill-detail' p.bill.slug %}">{{ p.bill.name }}</a></td>
            <td data-title="Category">{% for s in p.bill.subjects.all %}{{ s.name }} {% endfor %}</td>
            <td data-title="Caption">{{ p.bill.description }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
