{% load staticfiles %}
<section class="menu">
  <header>
    <a href="http://www.texastribune.org/">
      <img class="trib-logo" alt="The Texas Tribune" src="{% static 'images/brand/TxTrib-logo-horizontal-blk.svg' %}">
    </a>
  </header>
  <nav>
    <ul>
      <li>Find Bills</li>
      <li>Browse Issues by Topic</li>
      <li>Chamber Livestream</li>
      <li>How the Legislature Works</li>
      <li>Session Resources</li>
    </ul>
  </nav>
</section>

<header>
  <h1 class="project-title">Texas Legislative Guide</h1>
</header>

<header>
  <h2 class="page-header">Page Header</h2>
</header>

<header>
  <h3 class="section-header">Section Header</h3>
</header>

<header>
  <h4 class="featured-content">Featured Content</h4>
</header>

<p class="emphasis">Emphasis Text or <a href="">Name link</a></p>
<p class="mini-emphasis">Mini emphasized text, often for <a href="">Lawmaker Names</a></p>

<header>
  <h5 class="sub-section-header">Sub section header text</h5>
</header>

<p class="sub-text">Sub-text used for descriptions and titles, usually paired with header text.</p>

<header>
  <h6 class="issue-card-title">Issue card title text</h6>
  <p class="update-time">Updated time</p>
</header>

<button class="button">Button Label Text</button>

<div class="shutter">
  <span class="shutter-label">Shutter Label Text</span>
  <span class="icon closed">&#43;</span>
  <span class="icon open">&#45;</span>
</div>


<ul>
  <li class="sans">Generic subject listed link text</li>
  <li class="serif">Issue title listed link text</li>
</ul>
