{% extends 'base.html' %}

{% block content %}

{% include "modules/nav-bar.html" %}

<div class="main">
  <section class="topic-lists">
    <h2>Legislative Hot Lists</h2>
    <h4>Your guide to what's really going on at the 84th Texas Legislature.</h4>
  </section>
  <div class="search-box">
    <h3><i class="fa fa-search"></i>Find an issue</h3>
    <form>
      <input id="bill-search" type="text" placeholder="Search for an issue by keyword">
    </form>
  </div>
  <section class="topic-lists">
    {% include "components/topic-list-widget.html" %}
    {% include "components/topic-list-widget.html" %}
    {% include "components/topic-list-widget.html" %}
    {% include "components/topic-list-widget.html" %}
    {% include "components/topic-list-widget.html" %}
    {% include "components/topic-list-widget.html" %}
  </section>
</div>

{% endblock %}
