{% extends 'base.html' %}

{% block content %}

{% include "modules/nav-bar.html" %}

<div class="main">
  <section "topic-list-landing">
    <h2>Legislative Hot Lists</h2>
    <h4>Your guide to what's really going on at the 84th Texas Legislature.</h4>
    <div class="search-box">
      <h3><i class="fa fa-search"></i>Find an issue</h3>
      <form>
        <input id="bill-search" type="text" placeholder="Search for an issue by keyword">
      </form>
    </div>

    <div class="issue-list-header">
      <h3 class="headline">Health Care</h3>
      <img class="headshot" src="../static/images/headshots/Edgar_jpg_131x197_crop_q100.jpg">
      <img class="headshot" src="../static/images/headshots/Ura-Alexa_jpg_131x197_crop_q100.jpg">
      <p class="curated">Curated by Edgar Walters and Alexa Ura</p>
      <h5><a href="">See All</a></h5>
    </div>


    <div class="issue-list-landing">
      <ul>
        <li>A move to consolidate the state's 5 health agencies</li>
        <li>Texas' solution to Medicaid expansion</li>
        <li>More regulations for abortion providers</li>
        <li>A move to consolidate the state's 5 health agencies</li>
        <li>Texas' solution to Medicaid expansion</li>
        <li>More regulations for abortion providers</li>
      </ul>
    </div>

  </section>
</div>

{% endblock %}
