// Default Breakpoints
$small: new-breakpoint(min-width 460px max-width 810px);
$medium: new-breakpoint(min-width 811px max-width 1080px);
$large: new-breakpoint(min-width 1081px);
$default-768: new-breakpoint(min-width 768px);
$default-480: new-breakpoint(max-width 480px);

.container,
.main-container {
  @extend %container;
}

.side-bar {
  @include clearfix;
  @include span-columns(12);

  @include media($medium) {
    @include span-columns(5);
    @include omega();
  }

  @include media($large) {
    @include span-columns(4);
  }

}

.body-main {
  @extend %content-block;
  @include span-columns(12);

  @include media($medium) {
    @include span-columns(7);
  }

  @include media($large) {
    @include span-columns(8);
    @include omega();
  }
}


// Basic Grid Mixins

@mixin div-grid($col-width, $number-div) {

  @include media($small) {
    div {
      @include span-columns($col-width / $number-div of $col-width);
      @include omega($number-div+n);
    }
  }

  @include media($medium) {
    div {
      @include span-columns($col-width / $number-div of $col-width);
      @include omega($number-div+n);
    }
  }

  @include media($large) {
    div {
      @include span-columns($col-width / $number-div of $col-width);
      @include omega($number-div+n);
    }
  }
}

@mixin li-grid($col-width, $med-li, $lg-li) {
  li {
    @include span-columns(12);

    @include media($small) {
      @include span-columns($col-width / $med-li of $col-width);
      @include omega($med-li+n);
    }

    @include media($medium) {
      @include span-columns($col-width / $med-li of $col-width);
      @include omega($med-li+n);
    }

    @include media($large) {
      @include span-columns($col-width / $lg-li of $col-width);
      @include omega($lg-li+n);
    }
  }
}
