/* Basic Style Mixins */

@mixin hide($bp) {
  @include media($bp) {
    display: none;
  }
}

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter($grid-columns, $gutter); }
  &:nth-child(#{$nth}+1) { clear: none }
}

@mixin clearfix {
  &:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
 }
}

@mixin button($background, $hover, $accent) {
    background: $background;
    color: $white;
    line-height: 1em;
    margin: 0 .25em;
    padding: .875em 1.25em .625em;
    text-align: center;
    border-bottom: .25em solid $accent;

    &:active,
    &:hover {
      background: $hover;
      border-bottom: .125em solid $accent;
    }

}

@mixin collapse {
  display: none;

  @include media($small) {
    display: none;
  }

  @include media($medium) {
    display: block;
  }

  @include media($large) {
    display: block;
  }
}

// Mobile vs. Desktop Mixins
// =========================

@mixin hide($bp) {
  @include media($bp) {
    display: none;
  }
}

@mixin mobile-only {
  display: block;

  @include media($small) {
    display: none;
  }

  @include media($medium) {
    display: none;
  }

  @include media($large) {
    display: none;
  }
}

@mixin desktop-only {
  display: none;

  @include media($small) {
    display: block;
  }

  @include media($medium) {
    display: block;
  }

  @include media($large) {
    display: block;
  }
}

@mixin desktop-hide {
  display: block;

  @include media($small) {
    display: block;
  }

  @include media($medium) {
    display: none;
  }

  @include media($large) {
    display: none;
  }
}

@mixin mobile-hide {
  @include clearfix;
  display: none;

  @include media($small) {
    display: none;
  }

  @include media($medium) {
    display: block;
  }

  @include media($large) {
    display: block;
  }
}
