/* Grid Settings */

%container {
  @include outer-container;
}

%content-block {
  @include pad(0 1.25em);
}

%content-block-full {
  @include media($default-480) {
    @include pad(0);
  }
}


%clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
 }

// Footer Links

%href-on-black {
  color: $href-offwhite;
  text-decoration: none;

  &:active {
    color: $white;
    text-decoration: underline;
  }

  &:hover {
    color: $white;
    text-decoration: underline;
  }
}
