 .banner {
  @include clearfix;
  display: table;
  height: 10em;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;

  header {
    @extend %content-block;
    background: none;
    display: block;
    height: 10em;
    position: absolute;
    text-align: right;
    top: 0;
    vertical-align: middle;
    width: 100%;

    p {

      @include media($medium) {
        font-size: 1.3em;
      }

      @include media($large) {
        font-size: 1.3em;
      }
    }
  }

}

.banner-image {

  @include media($medium) {
    background: url('../images/on-the-lege-capitol-lrg-bg004.jpg') no-repeat center center;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

  }

  @include media($large) {
    background: url('../images/on-the-lege-capitol-lrg-bg004.jpg') no-repeat center center;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}


// h1
.project-title {
  color: $bodytext-black;
  font-size: 1.6em;
  font-family: $base-serif;
  font-weight: normal;
  letter-spacing: 0.04em;
  line-height: 1;
  margin: 1em 0 .25em 0;
  text-align: center;
  text-transform: uppercase;

  @include media($small) {
    font-size: 2.4em;
  }

  @include media($medium) {
    font-size: 2.4em;
  }

  @include media($large) {
    font-size: 2.9em;
  }
}

// h2
.page-header {
  // For breakpoints, see components/_page-header.scss

  h2 {
    border-bottom: 1px solid $border-bottom;
    color: $bodytext-black;
    font-family: $base-sans-serif;
    font-size: 1.8em;
    font-weight: 800;
    line-height: 1.1;
    margin: .75em 0 .25em;
    padding-bottom: .2em;
    text-align: left;
  }

}

// h3
.section-header {
  border-bottom: 1px solid $border-bottom;
  color: $li-black;
  font-family: $base-sans-serif;
  font-size: 1.5em;
  font-weight: 800;
  line-height: 1.4;
  margin: .25em 0;
  padding-bottom: .2em;
  text-align: left;

}

.featured {
  border-bottom: 3px solid $teal;
}

// h4
.featured-content {
  background: $teal;
  border-radius: 3px 3px 0 0;
  color: $white;
  display: block;
  font-family: $base-serif;
  font-size: .85em;
  font-style: italic;
  font-weight: 400;
  letter-spacing: .1em;
  line-height: 1.2;
  margin-bottom: 0;
  padding: .375em 1em .3em;
  text-align: left;
  text-transform: uppercase;

  @include media($medium) {
    display: inline-block;
  }

  @include media($large) {
    display: inline-block;
  }
}

// h5
.sub-section-header {
  border-bottom: 1px solid $border-bottom;
  color: $li-black;
  font-family: $base-serif;
  font-size: 0.95em;
  font-style: italic;
  font-weight: 500;
  line-height: 1.4;
  margin: .75em 0;
  text-align: left;
}

.yellow-hr {
  border: 1px solid $tribune-yellow;
}

p {
  color: $li-black;
  font-family: $base-sans-serif;
  font-size: 1.05em;
  font-weight: 400;
  line-height: 1;
  text-align: left;

  &.emphasis {
    font-size: 1.3em;
    font-weight: 600;
  }

  &.mini-emphasis {
    font-size: 1.1em;
    font-weight: 500;
  }

  &.sub-text {
    color: $bodytext-black;
    font-weight: 300;
    line-height: 1.2;
    margin: .25em 0 1em;
  }

  &.center {
    text-align: center;
  }

}

// h6
.issue-card-title {
  color: $tribune-black;
  font-family: $base-serif;
  font-size: 1.4em;
  font-weight: normal;
  letter-spacing: 0.02em;
  line-height: 1.2;
  text-align: left;
  margin: .5em 0;
}

.pub-date,
.update-time {
  color: $text-gray;
  font-size: 0.95em;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.2;
  text-align: left;
}

.update-time {
  font-family: $base-sans-serif;
}

.pub-date {
  font-family: $base-serif;
  margin: 0;
}

.button {
  @include button($tribune-yellow, $hover-yellow, $yellow-highlight);
  border: $tribune-yellow;
  border-bottom: 4px solid $yellow-highlight;
  border-radius: 4px;
  color: $yellow-text;
  display: inherit;
  font-family: $base-sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: .08em;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 auto;
  width: 80%;

  &:hover,
  &:active {
    color: rgb(79, 64, 21);
    padding-bottom: .835em;
  }
}

.shutter {
  @include clearfix;
  // border: 3px solid $text-offwhite;
  margin: 0 0 .5em;


  .shutter-label {
    background-color: $text-offwhite;
    color: $shutter-gray;
    cursor: pointer;
    font-family: $base-sans-serif;
    font-size: .875em;
    font-weight: 500;
    letter-spacing: .1em;
    margin: 0;
    padding: 1em 1.25em;
    text-transform: uppercase;

    &:hover {
      color: $li-black;
      background-color: rgb(250, 250, 250);
    }
  }

  .shutter-content {
    display: none;
    padding: 0 1em 1.5em;

    &-open {
      display: block;
      margin-bottom: .5em;
    }
  }
}

.shutter-icon {
  color: $li-black;
  float: right;
  font-size: 1.7em;
  line-height: .5;

  &:before {
    content: '\002B';
  }

  &-open {
    color: $shutter-gray;

    &:before {
      content: '\2212';
    }
  }
}

.democratic {
  color: $dem-blue;
}

.republican {
  color: $rep-red;
}

ul {
  &.serif,
  &.story-timeline,
  &.sans {
    li {
      color: $li-black;
      margin: 0 auto .75em;
    }
  }

  &.serif,
  &.sans {
    padding: .5em 0 0 1em;

    li {
      &:before {
        color: $li-black;
        content: '\2023';
        font-family: $base-sans-serif;
        margin: 0 .5em 0 -1em;
        padding: 0;
      }
    }
  }

  &.sans {
    li {
      color: $li-black;
      font-family: $base-sans-serif;
      margin: 0 auto .75em;
    }

    &.find-bill-list {
      li {
        @include media($medium) {
          @include span-columns(6);
          @include omega(2n);
        }

        @include media($large) {
          @include span-columns(4);
          @include omega(3n);
        }
      }
    }

  }

  &.serif {
    li {
      font-family: $base-serif;
    }
  }

  &.story-timeline {
    border-left: 1px solid;
    font-family: $base-serif;
    margin: 0 0 0 .5em;
    padding-left: 1em;

    li {
      line-height: 0;

      a {
        line-height: 1.2;
      }
      &:before {
        color: $li-black;
        content: '\25cf';
        font-family: $base-sans-serif;
        font-size: 1.65em;
        margin: 0 .3em 0 -.87em;
        padding: 0;
      }
    }
  }
}

li {
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1;
  text-align: left;

  a {
    &:hover {
      color: $teal;
      text-decoration: underline;
    }
  }

}

hr.video-divider {
  background-color: $tribune-yellow;
  width: 40%;
  text-align: center;
}

.newsletter-signup {
  margin-bottom: 3em;
  input[type=email] {
    @include span-columns(12);
    width: 100%;
    margin: 0 0 1em;
    padding: .5em;
    @include media($large) {
      @include span-columns(6);
    }
    @include media($medium) {
      @include span-columns(6);
    }

  }

  .sub-section-header {
    border: none;
  }

  .button {
    @include span-columns(12);
    padding: .6em;
    @include media($large) {
      @include span-columns(3);
    }
    @include media($medium) {
      @include span-columns(3);
    }
    &:hover {
      padding: .7em;
    }
  }
}

