.menu {
  background: $bodytext-black;
  color: $white;
  font-family: $base-sans-serif;
  font-size: 1.3em;

  ul {
    list-style: none;
  }

  li {
    background: $tagline-black;
    border-bottom: 1px solid $text-gray;
    padding: .5em;

    &:hover {
      background: $li-black;
    }
  }

  .trib-logo {
    height: 2em;
    padding: .5em;
  }

}

.project-title {
  color: $bodytext-black;
  font-size: 1.6em;
  font-family: $base-serif;
  font-weight: normal;
  letter-spacing: 0.04em;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
}

.page-header {
  border-bottom: 1px solid $border-bottom;
  color: $bodytext-black;
  font-family: $base-sans-serif;
  font-size: 1.8em;
  font-weight: 800;
  line-height: 1.4em;
  text-align: left;
}

.section-header {
  border-bottom: 1px solid $border-bottom;
  color: $li-black;
  font-family: $base-sans-serif;
  font-size: 1.5em;
  font-weight: 800;
  line-height: 1.4em;
  text-align: left;
}

.featured-content {
  background: $teal;
  border-radius: 3px 3px 0 0;
  color: $white;
  font-family: $base-serif;
  font-size: 0.85em;
  font-style: italic;
  font-weight: 400;
  letter-spacing: .1em;
  line-height: 1.2em;
  padding: 6px 15px 5px;
  text-align: left;
  text-transform: uppercase;
}

.sub-section-header {
  border-bottom: 1px solid $border-bottom;
  color: $li-black;
  font-family: $base-serif;
  font-size: 0.95em;
  font-style: italic;
  font-weight: 500;
  line-height: 1.4em;
  text-align: left;
}

p {
  color: $li-black;
  font-family: $base-sans-serif;
  font-size: 1.05em;
  font-weight: 400;
  line-height: 1em;
  text-align: left;

  &.emphasis {
    font-size: 1.3em;
    font-weight: 600;
  }

  &.mini-emphasis {
    font-size: 1.1em;
    font-weight: 500;
  }

  &.sub-text {
    color: $bodytext-black;
    font-weight: 300;
    line-height: 1.2em;

    &.lead {
      text-align: center;
    }
  }

}

.issue-card-title {
  color: $tribune-black;
  font-family: $base-serif;
  font-size: 1.4em;
  font-weight: normal;
  letter-spacing: 0.02em;
  line-height: 1em;
  text-align: left;
  margin: .5em 0;
}

.update-time {
  color: $text-gray;
  font-family: $base-sans-serif;
  font-size: 0.95em;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.2em;
  text-align: left;
}

.button {
  background: $tribune-yellow;
  border: $tribune-yellow;
  border-bottom: 4px solid $yellow-highlight;
  border-radius: 4px;
  color: $yellow-text;
  display: inherit;
  font-family: $base-sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1em;
  padding: 13px 20px 10px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  width: 80%;

  &:hover {
    background: rgb(255, 231, 140);
    color: rgb(79, 64, 21);
    padding: 14px 20px 11px;
    border-bottom: 2px solid $yellow-highlight;

  }
}

.shutter {
  @include clearfix;
  background: $text-offwhite;
  color: $shutter-gray;
  float: left;
  font-weight: 500;
  font-size: 0.9em;
  font-family: $base-sans-serif;
  height: 53px;
  letter-spacing: 0.1em;
  margin: 5px 0 0;
  text-align: left;
  text-transform: uppercase;
  width: 100%;

  &:hover {
    color: $li-black;
  }

  .shutter-label {
    float: left;
    padding: 16px 20px;
  }

  .icon {
    float: right;
    font-size: 1.7em;
    padding: 7px 20px 7px 0;

    &.open {
      color: $li-black;
    }

    &.close {
      color: $shutter-gray;
    }

  }
}

li {
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1em;
  text-align: left;

  a {
    &:hover {
      color: $teal;
      text-decoration: underline;
    }
  }

  &.sans {
    color: $teal;
    font-family: $base-sans-serif;
    margin: 24px auto;

    &:before {
      color: $li-black;
      content: '\2023';
      font-family: $base-sans-serif;
      margin: 0 .5em;
      padding: 0;
    }
  }

  &.serif {
    color: $li-black;
    font-family: $base-serif;
    margin: 0 auto 24px;

    &:before {
      color: $li-black;
      content: '\2023';
      font-family: $base-sans-serif;
      margin: 0 .5em;
      padding: 0;
    }
  }


}







