.menu {
  background: $bodytext-black;
  color: $white;
  font-family: $base-sans-serif;
  font-size: 1.3em;

  ul {
    list-style: none;
  }

  li {
    background: $tagline-black;
    border-bottom: 1px solid $text-gray;
    padding: .5em;

    &:hover {
      background: $li-black;
    }
  }

  .trib-logo {
    height: 2em;
    padding: .5em;
  }

}

h1,
.project-title {
  color: $bodytext-black;
  font-size: 1.6em;
  font-family: $base-serif;
  font-weight: normal;
  letter-spacing: 0.04em;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
}

h2,
.page-header {
  border-bottom: 1px solid $border-bottom;
  color: $bodytext-black;
  font-family: $base-sans-serif;
  font-size: 1.8em;
  font-weight: 800;
  line-height: 1.4em;
  text-align: left;
}

h3,
.section-header {
  border-bottom: 1px solid $border-bottom;
  color: $li-black;
  font-family: $base-sans-serif;
  font-size: 1.5em;
  font-weight: 800;
  line-height: 1.4em;
  text-align: left;
}

h4,
.featured-content {
  background: $teal;
  border-radius: 3px 3px 0 0;
  color: $white;
  font-family: $base-serif;
  font-size: 0.85em;
  font-style: italic;
  font-weight: 400;
  letter-spacing: .1em;
  line-height: 1.2em;
  margin-bottom: 0;
  padding: 6px 15px 5px;
  text-align: left;
  text-transform: uppercase;
}

h5,
.sub-section-header {
  border-bottom: 1px solid $border-bottom;
  color: $li-black;
  font-family: $base-serif;
  font-size: 0.95em;
  font-style: italic;
  font-weight: 500;
  line-height: 1.4em;
  margin: .75em 0;
  text-align: left;
}

p {
  color: $li-black;
  font-family: $base-sans-serif;
  font-size: 1.05em;
  font-weight: 400;
  line-height: 1em;
  text-align: left;

  &.emphasis {
    font-size: 1.3em;
    font-weight: 600;
  }

  &.mini-emphasis {
    font-size: 1.1em;
    font-weight: 500;
  }

  &.sub-text {
    color: $bodytext-black;
    font-weight: 300;
    line-height: 1.2em;
  }

  &.center {
    text-align: center;
  }

}

h6,
.issue-card-title {
  color: $tribune-black;
  font-family: $base-serif;
  font-size: 1.4em;
  font-weight: normal;
  letter-spacing: 0.02em;
  line-height: 1em;
  text-align: left;
  margin: .5em 0;
}

.update-time {
  color: $text-gray;
  font-family: $base-sans-serif;
  font-size: 0.95em;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.2em;
  text-align: left;
}

.button {
  background: $tribune-yellow;
  border: $tribune-yellow;
  border-bottom: 4px solid $yellow-highlight;
  border-radius: 4px;
  color: $yellow-text;
  display: inherit;
  font-family: $base-sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1em;
  padding: 13px 20px 10px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  width: 80%;

  &:hover {
    background: rgb(255, 231, 140);
    color: rgb(79, 64, 21);
    padding: 14px 20px 11px;
    border-bottom: 2px solid $yellow-highlight;

  }
}

.shutter {
  @include clearfix;
  background: $text-offwhite;

  &:hover {
    color: $li-black;
  }

  .shutter-label {
    color: $shutter-gray;
    border-bottom: 2px solid $white;
    font-weight: 500;
    font-size: 0.9em;
    font-family: $base-sans-serif;
    height: 53px;
    letter-spacing: 0.1em;
    margin: 0 0 5px;
    padding: 16px 20px;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
  }

  .icon {
    float: right;
    font-size: 1.7em;
    padding: 0 20px 0 0;

    &.open {
      color: $li-black;
    }

    &.close {
      color: $shutter-gray;
    }

  }

  .shutter-content {
    padding: 0 1em 1.5em;
  }
}

ul {
  &.serif {
    li {
      color: $li-black;
      font-family: $base-serif;
      margin: 0 auto .75em;

      &:before {
        color: $li-black;
        content: '\2023';
        font-family: $base-sans-serif;
        margin: 0 .5em;
        padding: 0;
      }
    }
  }

  &.sans {
    li {
      color: $teal;
      font-family: $base-sans-serif;
      margin: 24px auto;

      &:before {
        color: $li-black;
        content: '\2023';
        font-family: $base-sans-serif;
        margin: 0 .5em;
        padding: 0;
      }
    }
  }

}

li {
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1em;
  text-align: left;

  a {
    &:hover {
      color: $teal;
      text-decoration: underline;
    }
  }

}




