<div id="rotating_ad" class="rotating-ad-container" style="position:relative;">

  <div class="mobile-hide large_ad_container">
    <div class="ad-container rotating-ad" id="div-gpt-ad-1406570316312-4">
      <script>
        googletag.cmd.push(function() {
          googletag.display('div-gpt-ad-1406570316312-4');
        });
      </script>
    </div>
    <div class="ad-container rotating-ad desktop-hide" id="div-gpt-ad-1406570316312-5">
      <script>
        googletag.cmd.push(function() {
          googletag.display('div-gpt-ad-1406570316312-5');
        });
      </script>
    </div>
    <div class="ad-container rotating-ad desktop-hide" id="div-gpt-ad-1406570316312-6">
      <script>
        googletag.cmd.push(function() {
          googletag.display('div-gpt-ad-1406570316312-6');
        });
      </script>
    </div>
    <div class="ad-container rotating-ad desktop-hide" id="div-gpt-ad-1406570316312-7">
      <script>
        googletag.cmd.push(function() {
          googletag.display('div-gpt-ad-1406570316312-7');
        });
      </script>
    </div>
  </div>
</div>
