<div id="rotating_adB" class="rotating-ad-container" style="position:relative;">
  <div class="desktop-hide">
    <div class="ad-container rotating-ad" id="div-gpt-ad-1406570316312-8">
      <script>
        googletag.cmd.push(function() {
          googletag.display('div-gpt-ad-1406570316312-8');
        });
      </script>
    </div>
    <div class="ad-container rotating-ad mobile-hide" id="div-gpt-ad-1406570316312-9">
      <script>
        googletag.cmd.push(function() {
          googletag.display('div-gpt-ad-1406570316312-9');
        });
      </script>
    </div>
    <div class="ad-container rotating-ad mobile-hide" id="div-gpt-ad-1406570316312-10">
      <script>
        googletag.cmd.push(function() {
          googletag.display('div-gpt-ad-1406570316312-10');
        });
      </script>
    </div>
    <div class="ad-container rotating-ad mobile-hide" id="div-gpt-ad-1406570316312-11">
      <script>
        googletag.cmd.push(function() {
          googletag.display('div-gpt-ad-1406570316312-11');
        });
      </script>
    </div>
  </div>
</div>
