html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  color: $text-black;
  font-family: $font-default;
  line-height: 1;
  min-height: 100%;
  position: relative;

  &.open {
    overflow: hidden;
  }

}

a {
  color: $href-teal;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $href-teal;
  }
}

.container,
.main-container {
  @extend %container;
}
