html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  color: $text-black;
  font-family: $font-default;
  line-height: 1;
  min-height: 100%;
  position: relative;

  &.open {
    overflow: hidden;
  }

}

a {
  color: $href-teal;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $href-teal;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1em 0;
}

h4 {
  font-style: italic;
  margin-top: .5em;
}

h5 {
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 300;
  margin: 1em 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: .5em 0;
}

.container,
.main-container {
  @extend %container;
}
