html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  color: $text-black;
  font-family: $font-default;
  line-height: 1;
}

a {
  color: $href-teal;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.container,
.main-container {
  @extend %container;
}

.content-block {
  @extend %content-block;
}
