.bill {
  ul {
    list-style: none;
  }
}

.bill-authors,
.bill-committee-assignment {
  @include clearfix;
  @include div-grid(12, 2);

  div {
    margin-bottom: .5em;
  }
}

.bill-actions,
.bill-stages,
.related-issue {
  @include span-columns(12);
}

.bill-stage {
  @include span-columns(12);
  margin-bottom: 1em;
  .sub-section-header{
    border-bottom: 0px solid black;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .mini-emphasis {
    margin: 0;
  }

  .date-stage-complete {
    display: inline-block;
    font-size: .8em;
    font-style: italic;
    margin-top: .5em;

    &.gov-action {
      margin-left: 4em;
    }
  }

  .fa {
    font-size: 2.5em !important;
  }

  .fa-stack {
    @include clearfix;
    height: 3em;
    width: 3em;
  }

  .fa-stack-1x {
    display: none;
  }

  &.complete {
    .fa-stack-1x {
      color: $green;
      background-color: $green;
      display: block;
      left: .13em;
      top: .2em;
    }
  }

  @include media($small) {
    @include span-columns(3);

    p {
      min-height: 2.25em;
    }

    .date-stage-complete {
      display: block;

      &.gov-action {
        margin-left: 0;
      }
    }
  }

  @include media($medium) {
    @include span-columns(3);

    p {
      min-height: 2.25em;
    }

    .date-stage-complete {
      display: block;

      &.gov-action {
        margin-left: 0;
      }
    }
  }

  @include media($large) {
    @include span-columns(3);

    p {
      min-height: 2.25em;
    }

    .date-stage-complete {
      display: block;

      &.gov-action {
        margin-left: 0;
      }
    }
  }
}

.bill-stage-name {
  font-size: .9em;
  height: 2em;
}


