.bill-search {
  @include span-columns(12);

  .bill-search-form {
    @include span-columns(12);
  }

  .button {
    margin: 0 0 1em;
  }

  input[type=text] {
    width: 100%;
    margin-bottom: 1em;
    padding: .5em;
  }

  .sidebar-content-bills {
    background-color: white;
  }

  .center {
    text-align: center;
  }
}
