h2 {
  margin: 0;
}

p {
  margin: .5em 0 .75em;
}

.ad-container {
  border-top: 0;
}

.author {
  @include span-columns(12);
}

.author-block {
  @include span-columns(7);
}

.author-img {
  @include span-columns(4);
}

.bill {
  ul {
    list-style: none;
  }
}

.bill-authors,
.bill-committee-assignment {
  @include clearfix;
  @include div-grid(12, 2);

  div {
    margin-bottom: .5em;
  }
}

.bill-actions,
.bill-stages,
.related-issue {
  @include span-columns(12);
}

.bill-stage {
  @include span-columns(12);
  margin-bottom: 1em;

  .sub-section-header{
    border-bottom: 0px solid black;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .mini-emphasis {
    margin: 0;
    text-align: right;
  }

  .date-stage-complete {
    @include span-columns(4);
    font-size: .8em;
    font-style: italic;
    // margin-top: .5em;

    &.gov-action {
      margin-left: 4em;
      text-align: right;
    }
  }

  .fa {
    font-size: 2.5em;
  }

  .fa-stack {
    @include span-columns(4);
  }

  .fa-stack-1x {
    text-align: center;
  }

  &.complete {
    .fa-stack-1x {
      color: $green;
    }
  }

  .topic-icon {
    @include span-columns(1);
  }

  .topic-text {
    @include span-columns(10);
  }

  @include media($small) {
    @include span-columns(3);

    p {
      min-height: 2.25em;
    }

    .date-stage-complete {
      // display: block;

      &.gov-action {
        margin-left: 0;
      }
    }
  }

  @include media($medium) {
    @include span-columns(3);

    p {
      min-height: 2.25em;
    }

    .date-stage-complete {
      // display: block;

      &.gov-action {
        margin-left: 0;
      }
    }
  }

  @include media($large) {
    @include span-columns(3);

    p {
      min-height: 2.25em;
    }

    .date-stage-complete {
      // display: block;

      &.gov-action {
        margin-left: 0;
      }
    }
  }
}

.bill-stage-name {
  @include span-columns(4);
  font-size: .9em;
  height: 2em;
}


