.committee-chairs {
  @include clearfix;
  margin-bottom: 2em;
  @include span-columns(12);
}

.chair-detail {
  @include span-columns(7);
}

.curated-by {
  @include span-columns(4);
  img {
    display: block;
    width: 100%;
  }
}

.committee-members {
  @include span-columns(12);
  margin-bottom: 1em;
}
