.committee-chairs {
  @include div-grid(12, 2);
  @include clearfix;
  margin-bottom: 2em;

}

.committee-members {
  @include span-columns(12);
  margin-bottom: 1em;

  img {
    display: block;
    max-height: 200px;
    max-width: 135px;
  }

  li {
    @include span-columns(3);
    @include omega(3n);
    min-height: 150px;
    margin: 0 .5em 2em .5em;
  }

}
