.project-header {
  h1 {
    margin: 1em 0;
  }


  @include media($medium) {
    h1 {
      margin: 3em 0;
    }
  }

  @include media($large) {
    h1 {
      margin: 4em 0;
    }
  }

}


.side-bar {
  @include clearfix;
  @include span-columns(12);

  @include media($medium) {
    @include span-columns(4);
  }

  @include media($large) {
    @include span-columns(3);
  }

}


.body-main {
  @include span-columns(12);

  @include media($medium) {
    @include span-columns(8);
    @include omega();
  }

  @include media($large) {
    @include span-columns(9);
    @include omega();
  }
}
