.legislator-info {
  @include span-columns(12);
  margin-bottom: 1em;

  .headshot {
    @include span-columns(3);
    margin-top: 1.5em;

    @include media($small) {
      @include span-columns(2);
    }
    @include media($medium) {
      @include span-columns(2);
    }
    @include media($large) {
      @include span-columns(2);
    }
  }

  h2 {
    @include span-columns(9);
    @include omega();

    @include media($small) {
      @include span-columns(10);
      @include omega();
    }
    @include media($medium) {
      @include span-columns(10);
      @include omega();
    }
    @include media($large) {
      @include span-columns(10);
      @include omega();
    }
  }

  .legislator-details {
    @include clearfix;

  }

  .office-info {
    margin-bottom: 1em;

    @include span-columns(9);
    @include omega();
    @include clearfix;

    @include media($small) {
      @include span-columns(10);
      @include omega();
    }
    @include media($medium) {
      @include span-columns(10);
      @include omega();
    }
    @include media($large) {
      @include span-columns(10);
      @include omega();
    }
  }

}

.lawmaker-links {
  margin-bottom: 1em;

  button {
    margin-bottom: .5em;
  }
}
.committee-assignments {
  margin-bottom: 1.5em;
}

