.committee-assignments {
  margin-bottom: 1.5em;
}

.legislator-info {
  @include span-columns(12);
  margin-bottom: 1em;

  .headshot {
    margin: 0 auto;
    text-align: center;
    margin-top: 1.5em;

    .lawmaker-name {
      color: $teal;
    }

    p {
      text-align: center;
      margin: .25em;
    }
  }

  .legislator-details {
    @include clearfix;
    p {
      margin: .25em;
    }

    h3 {
      margin-bottom: .5em;
    }

  }

  .share-page {
    margin: 1em;
    border-bottom: 1px solid $border-bottom;
    padding: 0 0 1em;
  }

}

.lawmaker-links {
  margin-bottom: 1em;

  a {
    text-decoration: none;
  }

  button {
    margin-bottom: .5em;
    text-decoration: none;
  }

  .button {
    width: 100%;
  }
}

li {
  color: $tribune-black;
  a {
    color: $teal;
  }
}

table {
  border: none;
}

