.topic-list-landing {
  @include span-columns(12);
}

.issue-list-block {
  @include span-columns(12);
  border-bottom: 1px solid $tribune-yellow;
  padding-bottom: 1em;
  margin-top: 1em;

}

.issue-list-header {
  @include span-columns(12);

  @include media($medium) {
    @include span-columns(4);

  }

  @include media($large) {
    @include span-columns(4);

  }

}

.issue-list-landing {
  @include span-columns(12);

  @include media($medium) {
    @include span-columns(8);
    @include omega();

    // li {
    //   @include span-columns(4 of 8);
    //   @include omega(2n);
    // }

  }

  @include media($large) {
    @include span-columns(8);
    @include omega();

    // li {
    //   @include span-columns(4 of 8);
    //   @include omega(2n);
    // }

  }


}
