.ad-container {
  display: block;
  margin: 0;
}

.banner-ad {
  @extend %content-block;
  width: 100%;

  div {
    border: 1px solid $line-gray;
  }

  &.top {
    margin: 0 auto 1em;
  }

  &.bottom {
    margin: 1em auto;
  }


}
