.main-header {
  h1 {
    // color: $white;
    margin: .5em 0;
  }

  .branding {
    background-color: $light-blue;
  }

  .trib-logo {
    height: 1em;
    margin: 3em 0;
  }

  .title-underline {
    background-color: $tribune-yellow;
    height: 1em;
    margin-bottom: 6em;
    width: 50%;
  }
}


.page-header {
  @include clearfix;
}
