.main-header {
  h1 {
    margin: .5em 0;
  }

  .project-branding {
    @extend %content-block;
    background-color: $light-blue;
  }

  .trib-logo {
    height: 1em;
    margin: 1em 0;

    @include media($medium) {
      margin: 3em 0;
    }

    @include media($large) {
      margin: 3em 0;
    }

  }

  .title-underline {
    background-color: $tribune-yellow;
    height: 1em;
    margin-bottom: 2em;
    width: 50%;

    @include media($medium) {
      margin-bottom: 4em;
    }

    @include media($large) {
      margin-bottom: 6em;
    }
  }
}


.page-header {
  @extend %content-block;
  background-color: $white;
  @include clearfix;
}

.resources {
  @extend %content-block;
  background-color: transparentize($white, .5);
  padding-top: 1em;

  h3 {
    display: inline-block;
    margin-bottom: 1em;
  }

  button {
    margin-bottom: 1em;
    width: 100%;
  }

  i.fa-search {
    display: inline-block;
    font-size: 1.2em;
    margin-right: .5em;
  }

  input[type="text"] {
    display: inline-block;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    outline: none;
    color: $text-black;
    padding: .5em 0;
    width: 100%;
    transition: width .4s ease;
    cursor: pointer;

    @include media($medium) {
      width: 100%;
    }

    @include media($large) {
      width: 100%;
    }
  }

  input[type="text"]:hover {
    border-bottom: 1px solid #BBB;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
  }

  input[type="text"]:focus {
    border-bottom: 1px solid #BBB;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
  }

  form,
  select {
    display: inline-block;
    margin-bottom: 1em;
    width: 100%;
  }

  .collapse {
    @include collapse;
  }

}


