.bill-search {
  @extend %content-block;
  border: 1px dashed $href-teal;

  .bill-search-box {
    margin-bottom: 1em;
    h3 {
      display: inline-block;
    }

    input {
      font-size: em(24);
      padding: .5em;
      width: 100%;
    }
  }
}
