.bill-search {
  @extend %content-block;
  @include span-columns(12);
  height: 150px;
  border: 1px dashed $href-teal;

  @include media($large) {
    @include span-columns(8);
  }

  .bill-search-box {
    h3 {
      display: inline-block;
    }

    form {
      display: inline-block;
    }
  }
}
