.hot-issues {
  @extend %content-block;
  @include span-columns(12);
  @include div-grid(12, 3);
  color: $text-black;
  margin-bottom: 2em;

  h3 {
    margin: 2em 0 1em;
    padding-bottom: .5em;
    border-bottom: 2px solid $text-black;
  }

  h4 {
    font-style: italic;
    margin: .5em 0;
  }

  h5 {
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 300;
    margin: .25em;
  }

}


