.hot-issues {
  @extend %content-block;
  @include span-columns(12);
  @include div-grid(12, 3);
  border: 1px dashed $href-teal;
  margin-bottom: 1em;

  h3 {
    margin: .25em 0;
  }

  h4 {
    font-style: italic;
    margin: .5em 0;
  }

}

.hot-issues
-item {
  border: 1px solid $href-teal;
  padding: .5em;

  h4 {
    margin: .25em 0;
  }

}
