.livestream {
  @include span-columns(12);
  background-color: $href-offwhite;

  h2 {
    margin: .25em 0;
  }

  .watch {
    @include div-grid(12, 2);

    span {
      font-style: italic;
    }
  }

}


