.livestream {
  @extend %content-block;
  @include span-columns(12);


  // @include media($medium) {
  //   @include span-columns(8);
  // }

  @include media($large) {
    @include span-columns(8);
  }

  .watch,
  .upcoming-meetings {
    @include div-grid(12, 2);
  }

  border: 1px dashed $href-teal;

  .house,
  .senate {
    @extend %content-block;
  }

  .upcoming-meetings {
    @extend %content-block;
    display: none;

    @include media($medium) {
      @include span-columns(12);
      display: block;

    }

    @include media($large) {
      @include span-columns(12);
      display: block;

    }

  }

  img {
    width: 100%;
  }
}


