.nav-bar {
  @extend %content-block;
  @extend %prose;
  @include span-columns(12);
  display: block;
  margin-bottom: 1em;
  width: 100%;

  h3 {
    display: inline-block;
    margin: .5em 0;
  }

  .nav-button {
    border-bottom: 2px solid $masthead-black;
  }

}

.nav-bar-container {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.browse-topics {
  @extend %prose;
  transition: max-height .2s ease-out;

  li {
    @extend %content-block;
    @include span-columns(12);
    margin-bottom: 1em;

    @include media($medium) {
      @include span-columns(6);
      @include omega(2n);
    }

    @include media($large) {
      @include span-columns(6);
      @include omega(2n);
    }
  }

  h5 {
    margin: .25em 0;
  }

}

.topic-graphic {
  border: 1px solid;
  float: left;
  height: 3em;
  margin: 0 .5em 1em 0;
  width: 3em;

}

.topic-lead-issue {

  &.test-wide {
    @include span-columns(6 of 6);
  }

  @include omega();

  h4 {
    margin-bottom: .5em;

    &.test-small-h4 {
      margin-bottom: .25em;
    }
  }

  p {
    font-size: .75em;
  }

  img {
    float: right;
  }

  span {
    font-size: .9em;
  }

  .topic-page-link {
    font-weight: 800;
  }
}

.menu-icon {
  display: inline-block;
  margin: .5em 0 .35em 1em;
  position: relative;
  width: 1em;

  span {
    background-color: #ccc;
    display: block;
    height: 3px;
    margin: 0 auto;
    position: relative;
    transition-delay: .2s;
    transition-duration: 0;
    width: 20px;

    &:before,
    &:after {
      background-color: #ccc;
      content: '';
      display: block;
      height: 3px;
      position: absolute;
      transition-delay: .2s, 0;
      transition-duration: .2s;
      transition-property: margin, transform;
      width: 20px;
    }

    &:before {
      margin-top: -6px;
    }

    &:after {
      margin-top: 6px;
    }
  }
}

.x span {
  background-color: rgba(0, 0, 0, 0);
  transition-delay: .2s;

  &:before {
    margin-top: 0;
    transform: rotate(45deg);
    transition-delay: 0, .2s;
  }

  &:after {
    margin-top: 0;
    transform: rotate(-45deg);
    transition-delay: 0, .2s;
  }
}
