.search-box {
  @extend %content-block;
  @include span-columns(12);

  header {
    display: inline-block;
  }

  button {
    margin-bottom: .5em;
    // @include span-columns(12);

    // @include media($medium) {
    //   @include span-columns(2);
    //   @include omega();
    // }

    // @include media($large) {
    //   @include span-columns(2);
    //   @include omega();
    // }
  }

  // .search-form-wrap {
  //   @include span-columns(12);
  //   @include media($medium) {
  //     @include span-columns(10);
  //   }

  //   @include media($large) {
  //     @include span-columns(10);
  //   }
  // }

  h3 {
    display: inline-block;
    margin: 1em 0;
  }

  i.fa-search {
    display: inline-block;
    font-size: 2em;
    margin-right: .5em;
  }

  input[type="text"] {
    display: inline-block;
    color: $text-black;
    padding: .5em 0;
    width: 100%;
    transition: width .4s ease;
    cursor: pointer;
    margin-bottom: 1em;
  }

  form {
    display: inline-block;
    width: 60%;
    // @include span-columns(4 of 6);
    // @include media($medium) {
    //   @include span-columns(6 of 6);
    // }
  }

}

.search-form {
  i {
    font-size: 1.2em;
  }
  h3 {
    line-height: 1.4em;

    span {
      color: $text-gray;
    }
  }
}

// .search-form {
//   @include media($medium) {
//     @include span-columns(6);
//     @include omega(2n);
//   }

//   @include media($large) {
//     @include span-columns(6);
//     @include omega(2n);
//   }
// }

