.search-box {
  @extend %content-block;
  @include span-columns(12);

  @include media($medium) {
    @include span-columns(6);
  }

  @include media($large) {
    @include span-columns(4);
  }

  button {
    margin-bottom: .5em;
  }

  h3 {
    display: inline-block;
    margin: 1em 0;
  }

  i.fa-search {
    display: inline-block;
    font-size: 1.2em;
    margin-right: .5em;
  }

  input[type="text"] {
    display: inline-block;
    color: $text-black;
    padding: .5em 0;
    width: 100%;
    transition: width .4s ease;
    cursor: pointer;
    margin-bottom: 1em;
  }

  // input[type="text"]:hover {
  //   border-bottom: 1px solid #BBB;
  //   width: 100%;
  //   z-index: 1;
  //   border-bottom: 1px solid #BBB;
  //   cursor: text;
  // }

  // input[type="text"]:focus {
  //   border-bottom: 1px solid #BBB;
  //   width: 100%;
  //   z-index: 1;
  //   border-bottom: 1px solid #BBB;
  //   cursor: text;
  // }

  form {
    display: inline-block;
    width: 100%;
  }

}

