.topic-lists {
  @extend %content-block;
  @include span-columns(12);
  @include div-grid(12, 3);

  img {
    margin-right: 1em;
    max-height: 100px;
  }

  .topic-list-box {
    @include span-columns(12);

    @include media($medium){
      @include span-columns(4);
      @include omega(3n);
    }

    @include media($large){
      @include span-columns(4);
      @include omega(3n);
    }

  }

  .curated {
    @include span-columns(12);
    @include row();

    p {
      font-style: italic;
      font-size: .8em;
    }
  }

  .see-all {
    font-size: .8em;
  }

}
