.top-issues,
.browse-topics {
  @include span-columns(12);
  @include div-grid(12, 3);
  color: $text-black;
  margin-bottom: 2em;

  h3 {
    border-bottom: 2px solid $text-black;
    padding-bottom: .5em;
  }

  h5 {
    margin-bottom: .5em;
  }

}

.top-issues {
  @extend %content-block;
}

