.topic-lists {
  @extend %content-block;
  @include span-columns(12);
  @include div-grid(12, 3);

}

img.headshot {
  margin-right: 1em;
  max-height: 100px;
}

.curated {
  font-style: italic;
  font-size: .8em;
}

.see-all {
  font-size: .8em;
}
