.top-issues {
  @extend %content-block;
  @include span-columns(12);
  @include div-grid(12, 3);
  color: $text-black;
  margin-bottom: 2em;

  h3 {
    border-bottom: 2px solid $text-black;
    padding: 1em 0 .5em;
  }

  // h5 {
  //   margin-bottom: .5em;
  // }

  li {
    @include span-columns(12);

    @include media($medium) {
      @include span-columns(4);
      @include omega(3n);
    }

    @include media($large) {
      @include span-columns(4);
      @include omega(3n);
    }
  }

}
