  <header>
    <h2 class="page-header">{{ object.name }}</h2>
    <p class="sub-text">{{ object.description }}</p>
    <p class="sub-text"><i class="fa fa-file-text-o"></i><em>Read the full <a href="http://www.legis.state.tx.us/BillLookup/Text.aspx?LegSess=84R&Bill={{ object.slug }}" target="_blank">Bill Text</a> and <a href="http://www.capitol.state.tx.us/BillLookup/Amendments.aspx?LegSess=84R&Bill={{ object.slug }}" target="_blank">Amendments</a></em></p>
    <section class="share-page">
      <ul>
        <a href="mailto:?subject=}&body=">
          <li class="email"><i class="fa fa-envelope"></i></li>
        </a>
        <a href="https://twitter.com/intent/tweet?text=&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
          <li class="facebook"><i class="fa fa-twitter"></i></li>
        </a>
        <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=TK&redirect_uri=http%3A%2F%2Ftxlege.texastribune.org" title="share on Facebook" class="social-share" target="_blank">
          <li class="twitter"><i class="fa fa-facebook"></i></li>
        </a>
      </ul>
    </section>
  </header>


