  <header>
    <h2>{{ object.name }}</h2>
    <h4>{{ object.description }}</h4>
    <h3>Read</h3>
    <p><a href="http://www.legis.state.tx.us/BillLookup/History.aspx?LegSess=84R&Bill={{ object.slug }}" target="_blank">Bill Text</a>, <a href="http://www.capitol.state.tx.us/BillLookup/Amendments.aspx?LegSess=84R&Bill={{ object.slug }}" target="_blank">Amendments</a></p>
    <div class="bill">
      <div class="bill-section">
        <header>
          <h3>Last Action</h3>
        </header>
        <p>{{ object.actions.last.text }} <em> {{ object.actions.last.date }}</em></p>
      </div>
    </div>
  </header>


