<section>
  <header>
    <h2 class="page-header">{{ object.name }}</h2>
  </header>
  <section class="share-page">
    <ul>
      <a href="mailto:?subject=}&body=">
        <li class="email"><i class="fa fa-envelope"></i></li>
      </a>
      <a href="https://twitter.com/intent/tweet?text=&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
        <li class="facebook"><i class="fa fa-twitter"></i></li>
      </a>
      <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=TK&redirect_uri=http%3A%2F%2Ftxlege.texastribune.org" title="share on Facebook" class="social-share" target="_blank">
        <li class="twitter"><i class="fa fa-facebook"></i></li>
      </a>
    </ul>
  </section>
  <div class="committee-chairs">
    <div>
      <img src="http://s3.amazonaws.com/static.texastribune.org/media/profiles/politicians/charles-schwertner_4_jpg_131x197_crop_q100.jpg">
      <h5 class="sub-section-header">Chair</h5>
      {% if object.chair.slug != "" %}
        <p class="emphasis"><a href="{{ object.chair.get_absolute_url }}">{{ object.chair }}</a></p>
        <p class="sub-text">State {% if object.chair.chamber.name == "Texas Senate" %} Senator {% else %} Representative {% endif %} ({{ object.chair.party.short_name }})</p>
      {% endif %}
    </div>
    <div>
      <img src="http://s3.amazonaws.com/static.texastribune.org/media/profiles/politicians/bob-deuell_3_jpg_131x197_crop_q100.jpg">
      <h5 class="sub-section-header">Vice Chair</h5>
      {% if object.vice_chair.slug != "" %}
        <p class="emphasis"><a href="{{ object.vice_chair.get_absolute_url }}">{{ object.vice_chair }}</a></p>
        <p class="sub-text">State {% if object.vide_chair.chamber.name == "Texas Senate" %} Senator {% else %} Representative {% endif %} ({{ object.vice_chair.party.short_name }})</p>
      {% endif %}
    </div>
  </div>
</section>

