<section class="hot-list-nav">
  <header>
    <h2>Hot Lists</h2>
    <h4>The top issues of the 84th legislature, by topic</h4>
  </header>
  <nav>
    <ul>
      {% for topic in topic_list %}
      <li>
        <div class="hotlist-graphic"></div>
        <div class="hotlist-list-box">
          <h5><a href="{% url 'topic-detail' topic.slug %}">{{ topic.name }}</a></h5>
          <p>{{ topic.issues.first | truncatewords:5 }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </nav>
<!--   <div class="subscription">
    <h5>What are your top issues?</h5>
    <p><a href="">Let us know</a> and we'll send updates on the issues important to you.</p>
  </div> -->
</section>
