{% load staticfiles %}
<section class="hot-list-nav">
  <header>
    <h2><a href="{% url 'topic-list-detail' %}">Hot Lists</a>
      <span class="share">Share:
      <a href="https://twitter.com/intent/tweet?text=" title="share on Twitter" class="social-share" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http%3A%2F%2Ftxlege.texastribune.org&redirect_uri=http%3A%2F%2Ftxlege.texastribune.org" title="share on Facebook" class="social-share" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
      </span>
      </h2>
    <h4>The top issues of the 84th Legislature, by topic</h4>
  </header>
  <nav>
    <ul>
      {% for topic in topic_list %}
      <a href="{{ topic.get_absolute_url }}">
      <li>
        <div class="hot-list-box">
          <img class="hot-list-graphic list" src="{% static 'images/icons/' %}{{ topic.slug }}.svg">
          <h5><span>{{ topic.name }}</span></h5>
          <p>{{ topic.issues.first }}</p>
        </div>
      </li>
      </a>
      {% endfor %}
    </ul>
  </nav>
  {% comment %}
<!--   <div class="subscription">
    <h5>What are your top issues?</h5>
    <p><a href="">Let us know</a> and we'll send updates on the issues important to you.</p>
  </div> -->
  {% endcomment %}
</section>
