{% load staticfiles %}
<section>
  <header class="hot-list-nav">
    <img class="hot-list-graphic header" src="{% static 'images/icons/' %}{{ topic.slug }}.svg"></img>
    <h2><a href="{% url 'topic-list-detail' %}">Hot Lists</a>: {{ topic.name }}
      <span class="share">
        <a href="https://twitter.com/intent/tweet?text=Check%20out%20%40TexasTribune%E2%80%99s%20list%20of%20the%20top%20{{ topic.name|lower|urlencode:""}}%20issues%20for%20the%2084th%20%23txlege%20http%3A%2F%2Ftxlege.texastribune.org{{ topic.get_absolute_url|urlencode:"" }}" title="share on Twitter" class="social-share" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http%3A%2F%2Ftxlege.texastribune.org{{ topic.get_absolute_url|urlencode:"" }}&redirect_uri=http%3A%2F%2Ftxlege.texastribune.org" title="share on Facebook" class="social-share" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
    </span>
    </h2>

  </header>
  {% with curators=topic.curators.all %}
  {% if curators %}
  <header class="curated-by">
      {% for curator in curators %}
      <div class="headshot">
        <img src="{{ curator.staff.profile_photo }}">
      </div>
      {% endfor %}
      <h4 class="curated">Curated by {% if curators|length == 1 %}{{ curators.first.first_name }} {{ curators.first.last_name }}{% elif curators|length > 2 %}{% for curator in curators %}{% if not forloop.first and not forloop.last %}, {% endif %}{% if forloop.last %} and {% endif %}{{ curator.first_name }} {{ curator.last_name }}{% endfor %}{% else %}{% for curator in curators %}{{ curator.first_name }} {{ curator.last_name }}{% if not forloop.last %} and {% endif %}{% endfor %}{% endif %}</h4>
  </header>
  {% endif %}
  {% endwith %}
  <nav class="full-hot-list">
    <ul>
    {% for issue in object.issues.all.published %}
      <li><a href="{{ topic.get_absolute_url }}#{{ issue.slug }}">{{ issue.name }}</a></li>
    {% endfor %}
    </ul>
  </nav>
</section>
