{% load staticfiles %}
<section>
  <header class="hot-list-nav">
    <img class="hot-list-graphic header" src="{% static 'images/icons/' %}{{ topic.slug }}.svg"></img>
    <h2><a href="">Hot Lists</a>: {{ topic.name }}</h2>
  </header>
  <header class="curated-by">
      {% with curators=topic.curators.all %}
      {% for curator in curators %}
      <div class="headshot">
        <img src="{{ curator.staff.profile_photo }}">
      </div>
      {% endfor %}
      <h4 class="curated">Curated by {% if curator|length > 2 %}{% for curator in curators %}{% if not forloop.first and not forloop.last %}, {% endif %}{% if forloop.last %} and {% endif %}{{ curator.first_name }} {{ curator.last_name }}{% endfor %}{% else %}{% for curator in curators %}{{ curator.first_name }} {{ curator.last_name }}{% if not forloop.last %}and {% endif %}{% endfor %}{% endif %}</h4>
      {% endwith %}
  </header>
  <nav class="full-hot-list">
    <ul>
    {% for issue in object.issues.all %}
      <li><a href="{{ issue.get_absolute_url }}">{{ issue.name | truncatewords:5 }}</a></li>
    {% endfor %}
    </ul>
  </nav>
</section>
