<div class="legislator-info">
  <div class="headshot">
    <img src="http://s3.amazonaws.com/static.texastribune.org/media/profiles/politicians/Campbell-Donna768updated_1_jpg_131x197_crop_q100.jpg">
  </div>

  <header class="legislator-details">
    <h2>{% if object.chamber.name == "Texas Senate" %} Sen. {% else %} Rep. {% endif %} {{ object.full_name }}, {{ object.party.short_name }}</h2>
    <h4>{% if object.chamber.name == "Texas Senate" %} Senate {% else %} House {% endif %} District {{ object.district }}</h4>

   <div class="office-info">
      <header>
        <h5>Capitol Office:</h5>
      </header>
      <p>{{ object.capitol_address }}</p>
      <p>Phone: <a href="tel:{{ object.capitol_phone }}">{{ object.capitol_phone }}</a></p>
    </div>
    <div class="office-info">
      <header>
        <h5>District Office:</h5>
      </header>
      <p>{{ object.district_address }}</p>
      <p>Phone: <a href="tel:{{ object.district_phone }}">{{ object.district_phone }}</a></p>
    </div>
  </header>
</div>




