<div class="legislator-info">
  <div class="headshot">
    <img src="{{ object.tribune_photo }}">
  </div>

  <header class="legislator-details">
    <h2>{% if object.chamber.name == "Texas Senate" %} Sen. {% else %} Rep. {% endif %} {{ object.full_name }} ({{ object.party.short_name }}-{{ object.tribune_city }})</h2>
    <h4>{% if object.chamber.name == "Texas Senate" %} Senate {% else %} House {% endif %} District {{ object.district }}</h4>

   <div class="office-info">
      <header>
        <h5>Capitol Office:</h5>
      </header>
      <ul>
        <li>Room: TK (<a href="">See on Capitol map</a>)</li>
        <li>Phone: <a href="tel:{{ object.capitol_phone }}">{{ object.capitol_phone }}</a></li>
      </ul>
    </div>
  </header>
</div>
<div class="lawmaker-links">
  <a href="{{ object.tribune_directory_url }}"><button>View in Directory</button></a>
  <a href="{{ object.tribune_ethics_url }}"><button>View in Ethics Explorer</button></a>
</div>





