<div class="legislator-info">
  <div class="headshot">
    <img src="{{ object.tribune_photo }}">
  </div>

  <header class="legislator-details">
    <h2>{% if object.chamber.name == "Texas Senate" %} Sen. {% else %} Rep. {% endif %} {{ object.full_name }} ({{ object.party.short_name }}-{{ object.tribune_city }})</h2>
    <h4>{% if object.chamber.name == "Texas Senate" %} Senate {% else %} House {% endif %} District {{ object.district }}</h4>

   <div class="office-info">
      <header>
        <h5>Capitol Office:</h5>
      </header>
      <ul>
        {% if object.tribune_room %}<li>Room: {{ object.tribune_room }} (<a href="https://www.texastribune.org/directory/offices/{{ object.tribune_room }}/">See on map</a>)</li>{% endif %}
        <li>Phone: <a href="tel:{{ object.capitol_phone }}">{{ object.capitol_phone }}</a></li>
      </ul>
    </div>
    {% comment %}
<!--      <div class="office-info">
      <header>
        <h5>District Office:</h5>
      </header>
      <ul>
        <li>{{ object.district_address }}</li>
        <li>Phone: <a href="tel:{{ object.district_phone }}">{{ object.district_phone }}</a></li>
      </ul>
    </div> -->
    {% endcomment %}
  </header>
</div>
<div class="lawmaker-links">
  <a href="{{ object.tribune_directory_url }}"><button>View in Directory</button></a>
  <a href="{{ object.tribune_ethics_url }}"><button>View in Ethics Explorer</button></a>
</div>
