<header>
  <h2>How the Legislature Works
    <span class="share">
      <a href="https://twitter.com/intent/tweet?text=Check%20out%20%40texastribune's%20%20guide%20to%20understanding%20how%20%23txlege%20works%20http%3A%2F%2Ftxlege.texastribune.org%2Ftexplainers%2F" title="share on Twitter" class="social-share" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http%3A%2F%2Ftxlege.texastribune.org%2Ftexplainers%2F&redirect_uri=http%3A%2F%2Ftxlege.texastribune.org%2Ftexplainers%2F" title="share on Facebook" class="social-share" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
    </span>
  </h2>
  <h4>Your guide to understanding the Texas Legislature</h4>
</header>
