<section class="search-box">
  <header>
    <h3><i class="fa fa-search"></i> Look Up Bills</h3>
    <h4 class="sub">By Number, Lawmaker or Category</h4>
  </header>
  <form>
    <input id="bill-search" type="text" placeholder="Ex. &mdash; SB 1, Straus or Education">
  </form>
  <button>Find</button>
  <header>
    <h3>Who Represents Me?</h3>
    <h4 class="sub">Find legislation filed by the people who represent you.</h4>
  </header>
  <form>
    <input id="bill-search" type="text" placeholder="Enter your address">
  </form>
  <button>Find</button>
</section>
