<section class="search-box prose">
  <div class="search-form">
    <div class="search-form-wrap">
      <header>
        <i class="fa fa-search"></i>
        <h3>Look up <span>Bills and Lawmakers</span></h3>
      </header>
      <form>
        <input id="bill-search" type="text" placeholder="">
      </form>
      <button>Find</button>
    </div>


  </div>
<!--   <div class="search-form">
    <header>
      <h3>Want to see legislation filed by lawmakers who represent you?</h3>
    </header>
    <form>
      <input id="bill-search" type="text" placeholder="Enter your address">
    </form>
    <button>Find</button>
  </div> -->
</section>
