<section class="search-box prose">
  <div class="search-form">
    <header>
      <h3><i class="fa fa-search"></i> Look Up Legislation by Bill Number, Lawmaker or Category</h3>
    </header>
    <form>
      <input id="bill-search" type="text" placeholder="">
    </form>
    <button>Go</button>
  </div>
  <div class="search-form">
    <header>
      <h3>Want to see legislation filed by lawmakers who represent you?</h3>
    </header>
    <form>
      <input id="bill-search" type="text" placeholder="Enter your address">
    </form>
    <button>Find</button>
  </div>
</section>
