<header class="nav-bar">
  <div class="nav-bar-container">
    <h1>Lege App Title</h1>
    <section class="nav-bar-actions">
      <div class="nav-button menu">
        <button id="menu" class="menu-icon"><span></span></a></button>
        <h3>Curated Lists</h3>
      </div>
      <div class="nav-button">
        <h3>Ethics Explorer</h3>
      </div>
      <div class="nav-button">
        <h3>Lawmaker Directory</h3>
      </div>
      <div class="nav-button">
        <h3>Bill Search</h3>
      </div>
    </section>
  </div>
</header>

<nav class="navdrawer-container">
  <ul>
    <li class="menu"><a href="">One</a></li>
    <li class="menu"><a href="">Two</a></li>
  </ul>
</nav>
