<header class="nav-bar">
  <div class="nav-bar-container">
    <nav class="nav-bar-actions">
      <ul>
        <li class="nav-button menu">
          <h3>Browse Issues by Topic</h3>
          <div id="menu" class="menu-icon"><span></span></a></div>
        </li>
      </ul>
    </nav>
  </div>
</header>

<nav class="browse-topics">
  <ul>
    <li>
      <h5>Health Care</h5>
      <h4 class="top-issue"><a href="">More regulations on abortion providers</a></h4>

    </li>
    <li>
      <h5>Public Education</h5>
      <h4 class="top-issue"><a href="">Lt. Gov. Dan Patrick's voucher plan</a></h4>
    </li>
    <li>
      <h5>Energy</h5>
      <h4 class="top-issue"><a href="">Limits proposed on fracking in South Texas</a></h4>
    </li>
    <li>
      <h5>Higher Education</h5>
      <h4 class="top-issue"><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing.</a></h4>
    </li>
    <li>
      <h5>Environment</h5>
      <h4 class="top-issue"><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing.</a></h4>
    </li>
    <li>
      <h5>Transportation</h5>
      <h4 class="top-issue"><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing.</a></h4>
    </li>
    <li>
      <h5>Immigration</h5>
      <h4 class="top-issue"><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing.</a></h4>
    </li>
    <li>
      <h5>Economy</h5>
      <h4 class="top-issue"><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing.</a></h4>
    </li>
    <li>
      <h5>The Budget</h5>
      <h4 class="top-issue"><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing.</a></h4>
    </li>
  </ul>
</nav>
