<header class="nav-bar">
  <div class="nav-bar-container">
    <h1>Lege App Title</h1>
    <nav class="nav-bar-actions">
      <button class="nav-button menu">
        <div id="menu" class="menu-icon"><span></span></a></div>
        <h3>Curated Lists</h3>
      </button>
      <button class="nav-button">
        <h3>Ethics Explorer</h3>
      </button>
      <button class="nav-button">
        <h3>Lawmaker Directory</h3>
      </button>
      <button class="nav-button">
        <h3>Bill Search</h3>
      </button>
    </nav>
  </div>
</header>

<nav class="navdrawer-container">
  <ul>
    <li class="menu"><a href="">One</a></li>
    <li class="menu"><a href="">Two</a></li>
  </ul>
</nav>
