<section class="quick-links prose">
  <header>
    <h3>Quick Links</h3>
  </header>
  <div class="resource-links">
    <ul>
      <li><a href="">Ethics Explorer</a> &mdash; A guide to the financial interests of elected officials</a></li>
      <li><a href="">Elected Officials Directory</a></li>
      <li>Seating Charts: <a href="">House</a> | <a href="">Senate</a></li>
      <li><a href="">Capitol Map</a></li>
      <li><a href="">Upcoming Committee Hearings</a></li>
    </ul>
  </div>
<!--   <div class="box-ad">
    <h3>Box Ad</h3>
  </div> -->
</section>
