<section class="top-issues">
  <header class="top-issues-header">
    <h2>Top Issues</h2>
  </header>
  <nav class="prose">
    <ul>
      <li>
        <h4><a href="">More regulations on abortion providers</a></h4>
      </li>
      <li>
        <h4><a href="">Lt. Gov. Dan Patrick's voucher plan</a></h4>
      </li>
      <li>
        <h4><a href="">A proposal to remove in-state tuition for immigrants</a></h4>
      </li>
      <li>
        <h4><a href="">A ban on lobbyists, period.</a></h4>
      </li>
    </ul>
  </nav>
</section>



