  <section class="top-issues">
    <h3>Top Issues</h3>
    <div class="top-issue-box">
      <h5>Health Care</h5>
      <h4 class="top-issue"><a href="">More regulations on abortion providers</a></h4>
    </div>
    <div class="top-issue-box">
      <h5>Public Education</h5>
      <h4 class="top-issue"><a href="">Lt. Gov. Dan Patrick's voucher plan</a></h4>
    </div>
    <div class="top-issue-box">
      <h5>Energy</h5>
      <h4 class="top-issue"><a href="">Limits proposed on fracking in South Texas</a></h4>
    </div>
  </section>
