<section class="top-issues">
  <header class="top-issues-header">
    <h2>Top Issues</h2>
  </header>
  <nav class="browse-topics prose">
    <ul>
      <li>
        <div class="topic-graphic"></div>
        <div class="topic-lead-issue">
          <h5>Health &amp; Human Services</h5>
          <h4 class="lead-issue"><a href="">More regulations on abortion providers</a></h4>
          <p><em>Curated by Edgar Walters and Alexa Ura</em></p>
        </div>
      </li>
      <li>
        <div class="topic-graphic"></div>
        <div class="topic-lead-issue">
          <h5>Public Education</h5>
          <h4 class="lead-issue"><a href="">Lt. Gov. Dan Patrick's voucher plan</a></h4>
          <p><a href="">See what else</a> Morgan Smith is following</p>
        </div>
      </li>
      <li>
        <div class="topic-graphic"></div>
        <div class="topic-lead-issue">
          <h5>Higher Education</h5>
          <h4 class="lead-issue"><a href="">A proposal to remove in-state tuition for immigrants</a></h4>
          <p><em>Curated by Reeve Hamilton</em></p>
        </div>
      </li>
      <li>
        <div class="topic-graphic"></div>
        <div class="topic-lead-issue">
          <h5>Ethics</h5>
          <h4 class="lead-issue"><a href="">A ban on lobbyists, period.</a></h4>
        </div>
      </li>

<!--       <li>
        <div class="topic-lead-issue">
          <div class="topic-graphic"></div>
          <h4><a href="">More regulations on abortion providers</a></h4>
          <p>See more <a href="" class="topic-page-link">Health &amp; Human Services</a> issues <a href="">Edgar Walters</a> and <a href="">Alexa Ura</a> are following</p>
        </div>
      </li>
      <li>
        <div class="topic-lead-issue">
          <div class="topic-graphic"></div>
          <h4><a href="">Lt. Gov. Dan Patrick's voucher plan</a></h4>
          <p>See more <a href="" class="topic-page-link">Public Education</a> issues</p>
        </div>
      </li>

      <li>
        <div class="topic-lead-issue">
          <div class="topic-graphic"></div>
          <h4><a href="">A proposal to remove in-state tuition for immigrants</a></h4>
          <p>See more <a href="" class="topic-page-link">Higher Education</a> issues <a href="">Reeve Hamilton</a> is following</p>
        </div>
      </li>
      <li>
        <div class="topic-lead-issue">
          <div class="topic-graphic"></div>
          <h4><a href="">A ban on lobbyists, period.</a></h4>
          <h5><a href="" class="topic-page-link">Ethics</a> &mdash; Curated by TK</h5>
        </div>
      </li> -->
    </ul>
  </nav>
</section>
<section>
  <header class="top-issues-header">
    <h3>Explore more issues</h3>
  </header>
  <nav class="browse-topics prose">
    <ul>
      <li class="top-issues-button">
        <h5>Energy &amp; Environment</h5>
        <p class="top-issue"><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing.</a></p>
      </li>
      <li class="top-issues-button">
        <h5>Transportation</h5>
        <p class="top-issue"><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum pulvinar urna. </a></p>
      </li>
      <li class="top-issues-button">
        <h5>Immigration &amp; Border Security</h5>
        <p class="top-issue"><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing.</a></p>
      </li>
      <li class="top-issues-button">
        <h5>Business &amp; Technology</h5>
        <p class="top-issue"><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing.</a></p>
      </li>
      <li class="top-issues-button">
        <h5>Budget &amp; Taxes</h5>
        <p class="top-issue"><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum pulvinar urna. </a></p>
      </li>
      <li class="top-issues-button">
        <h5>Criminal Justice</h5>
        <p class="top-issue"><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing.</a></p>
      </li>
      <li class="top-issues-button">
        <h5>Civil Liberties</h5>
        <p class="top-issue"><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum pulvinar urna. </a></p>
      </li>
      <li class="subscription">
        <h3>What are your top issues?</h3>
        <p><a href="">Let us know</a> and we'll send updates on the issues important to you.</p>
      </li>
    </ul>
  </nav>
</section>


