<section class="hotlist-nav">
  <header>
    <h3>Legislative Hot Lists</h3>
    <h4>Your guide to what's really going on at the 84th Texas Legislature.</h4>
  </header>
  <nav>
    <ul>
    {% for t in topic_list %}
      <li>
        <div class="hotlist-graphic"></div>
        <div class="hotlist-list-box">
          <h5><a href="{% url 'topic-detail' t.slug %}">{{ t.name }}</a></h5>
        </div>
      </li>
    {% endfor %}
    </ul>
  </nav>
  <div class="subscription">
    <h5>What are your top issues?</h5>
    <p><a href="">Let us know</a> and we'll send updates on the issues important to you.</p>
  </div>
</section>
