  <section class="topic-list-landing">
    <h2>Legislative Hot Lists</h2>
    <h4>Your guide to what's really going on at the 84th Texas Legislature.</h4>

    <section class="browse-topics">
      <h3>Browse Issues by Topic</h3>
      <div class="top-issue-box">
        <h5>Health Care</h5>
      </div>
      <div class="top-issue-box">
        <h5>Public Education</h5>
      </div>
      <div class="top-issue-box">
        <h5>Energy</h5>
      </div>
      <div class="top-issue-box">
        <h5>Higher Education</h5>
      </div>
      <div class="top-issue-box">
        <h5>Environment</h5>
      </div>
      <div class="top-issue-box">
        <h5>Transportation</h5>
      </div>
      <div class="top-issue-box">
        <h5>Immigration</h5>
      </div>
      <div class="top-issue-box">
        <h5>Economy</h5>
      </div>
      <div class="top-issue-box">
        <h5>The Budget</h5>
      </div>
    </section>
  </section>
