<section class="hotlist-nav">
  <header>
    <h3>Legislative Hot Lists</h3>
    <h4>Your guide to what's really going on at the 84th Texas Legislature.</h4>
  </header>
  <nav>
    <ul>
      <li>
        <div class="hotlist-graphic"></div>
        <div class="hotlist-list-box">
          <h5>Health &amp; Human Services</h5>
        </div>
      </li>
      <li>
        <div class="hotlist-graphic"></div>
        <div class="hotlist-list-box">
          <h5>Public Education</h5>
        </div>
      </li>
      <li>
        <div class="hotlist-graphic"></div>
        <div class="hotlist-list-box">
          <h5>Higher Education</h5>
        </div>
      </li>
      <li>
        <div class="hotlist-graphic"></div>
        <div class="hotlist-list-box">
          <h5>Ethics</h5>
        </div>
      </li>
      <li>
        <div class="hotlist-graphic"></div>
        <div class="hotlist-list-box">
          <h5>Energy &amp; Environment</h5>
        </div>
      </li>
      <li>
        <div class="hotlist-graphic"></div>
        <div class="hotlist-list-box">
          <h5>Transportation</h5>
        </div>
      </li>
      <li>
        <div class="hotlist-graphic"></div>
        <div class="hotlist-list-box">
          <h5>Immigration &amp; Border Security</h5>
        </div>
      </li>
      <li>
        <div class="hotlist-graphic"></div>
        <div class="hotlist-list-box">
          <h5>Business &amp; Technology</h5>
        </div>
      </li>
      <li>
        <div class="hotlist-graphic"></div>
        <div class="hotlist-list-box">
          <h5>Budget &amp; Taxes</h5>
        </div>
      </li>
      <li>
        <div class="hotlist-graphic"></div>
        <div class="hotlist-list-box">
          <h5>Criminal Justice</h5>
        </div>
      </li>
      <li>
        <div class="hotlist-graphic"></div>
        <div class="hotlist-list-box">
          <h5>Civil Liberties</h5>
        </div>
      </li>
    </ul>
  </nav>
  <div class="subscription">
    <h5>What are your top issues?</h5>
    <p><a href="">Let us know</a> and we'll send updates on the issues important to you.</p>
  </div>
</section>
