$stages-bp: new-breakpoint(min-width 697px);

.bill-page {
  h2 {
    margin: 0;
  }

  p {
    margin: .5em 0 .75em;
  }
}

.bill-authors,
.bill-committee-assignment {
  @include clearfix;
  @include span-columns(12);
  div {
    margin-bottom: .5em;
  }
  .committee-assignment {
    @include span-columns(12);
    @include media ($stages-bp) {
      @include span-columns(6);
      @include omega(2n);
    }
  }
}

.bill-author {
  @include clearfix;
  margin: 1em 0;
  @include span-columns(12);
  @include media($stages-bp) {
    @include span-columns(6);
    @include omega(2n);
  }
  .author {
    @include span-columns(12);
  }

  .author-block {
    @include span-columns(7);
  }

  .author-img {
    @include span-columns(4);
  }
}

.bill-actions,
.bill-stages,
.related-issue {
  @include span-columns(12);
}

.bill-detail {
  color: $text-gray;
  font-weight: 300;
  line-height: 1.2;
  @include media ($phead-large) {
    @include span-columns(7);
  }
}

.bill-stage {
  @include span-columns(12);
  margin-bottom: 1em;

  @include media($stages-bp) {
    @include span-columns(3);

    p {
      min-height: 2.25em;
    }
  }

  .sub-section-header{
    border-bottom: 0px solid black;
    font-family: $base-sans-serif;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .date-stage-complete {
    @include span-columns(4);
    font-size: .8em;
    font-style: italic;

    @include media($stages-bp) {
      @include span-columns(12);
      margin-top: 1em;

      p {
        text-align: center;
      }
    }

  }

  .fa {
    font-size: 2.5em;
  }

  .fa-stack {
    @include span-columns(4);

    @include media($stages-bp) {
      width: 100%;
    }
  }

  .fa-stack-1x {
    text-align: center;
    color: $border-bottom;
  }

  &.complete {
    .fa-stack-1x {
      color: $green;
    }
  }
}

.bill-stage-name {
  @include span-columns(4);
  font-size: .9em;
  height: 2em;
  margin: 0;
  p {
    text-align: right;
  }

  @include media($stages-bp) {
    @include span-columns(12);
    p {
      text-align: center;
    }
  }
}

.bill-subject-container {
  @include clearfix;
  @include span-columns(12);
  .bill-categories,
  .related-issue {
    @include span-columns(12);
    // @include media ($stages-bp) {
    //   @include span-columns(6);
    //   @include omega(2n);
    // }
    .hot-list-graphic {
      margin: 0 .25em -.25em 0;
    }
  }
}



.bill {
  @include span-columns(12);
  ul {
    list-style: none;
  }
}
