.bill-search {
  @include span-columns(12);
  margin-top: 1em;

  .button {
    margin: 0 0 1em;
  }

  form {
    display: inline-block;
    @include span-columns(10 of 12);
  }

  input[type=text] {
    display: inline-block;
    width: 100%;
    margin: 0 0 .5em;
    padding: .5em;
  }

  .fa {
    font-size: 2em;
    float: left;
  }

  .sidebar-content-bills {
    background-color: white;
  }

  .center {
    text-align: center;
  }

  .tt-dropdown-menu {
  background-color: rgb(255, 255, 255);
  max-height: 200px;
  overflow-y: auto;
  padding: 0;
  width: 100%;
}

.find-bill-list {

  li {
    @include span-columns(4);
    @include omega(3n);
  }

}

.tt-suggestion {
  display: block;
  margin: 0;
  padding: 1.25em .83em .83em;

  &:last-child {
    border-bottom: transparent;
  }

  p {
    font-size: .75em;
    margin: 0 0 .5em;
  }
}

.tt-cursor {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.twitter-typeahead,
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  width: 100%;
}
}
