$com-bp-large: new-breakpoint(min-width 749px);

.bill-table {
  table {
    border-top: none;
  }
}

.committee-chairs {
  @include clearfix;
  margin: 1em 0;
  @include span-columns(12);

  @include media($com-bp-large) {
    @include span-columns(6);
    @include omega(2n);
  }
}

.chair-detail {
  @include span-columns(7);
}

.chair-photo {
  img {
    float: left;
    display: block;
    max-width: 131px;
    margin: 0 1em 1em 0;
    width: 100%;
  }
}

.committee-members {
  @include span-columns(12);

  .yellow-hr {
    background-color: $tribune-yellow;
    height: 1px;
  }

  li {
    margin: 1em 0;
    @include media($com-bp-large) {
      @include span-columns(4);
      @include omega(3n);
    }
  }

}

.newsletter-signup {
  margin-bottom: 3em;
  input[type=email] {
    @include span-columns(12);
    width: 100%;
    margin: 0 0 1em;
    padding: .5em;
  }

  .sub-section-header {
    border: none;
  }

  .button {
    @include span-columns(12);
    margin-bottom: 2em;
  }
}
