$law-bp-large: new-breakpoint(min-width 951px);
$law-bp-medium: new-breakpoint(min-width 551px max-width 950px);
$law-bp-small: new-breakpoint(max-width 550px);

.committee-assignments {
  margin-bottom: 1.5em;
}

.legislator-details {
  margin-bottom: 1em;
  @include media($law-bp-large) {
    @include span-columns(5);
  }
  @include media($law-bp-medium) {
    @include span-columns(6);
    margin: 0;
    padding: 0;
  }

  p {
    margin: .25em;
  }

  h3 {
    margin-bottom: .5em;
  }

  .headshot {
    margin: 0 auto;
    text-align: center;
    margin-top: 1.5em;
    @include media($law-bp-large) {
      margin-top: .25em;
    }

    @include media($law-bp-medium) {
      margin-top: .25em;
    }

    .lawmaker-img {
      @include media($law-bp-large) {
        @include span-columns(6);
      }

      @include media($law-bp-medium) {
        @include span-columns(5);
      }
    }

    .lawmaker-header {
      @include media($law-bp-large) {
        @include span-columns(6);
        p {
          text-align: left;
        }
        .lawmaker-name {
          margin-bottom: .5em;
        }
      }

      @include media($law-bp-medium) {
        @include span-columns(7);
        p {
          text-align: left;
        }
        .lawmaker-name {
          margin-bottom: .5em;
        }
      }

      .lawmaker-name {
        color: $teal;
      }
    }

    p {
      text-align: center;
      margin: .25em;
    }
  }
}

.lawmaker-links {
  @include media($law-bp-large) {
    @include span-columns(3);
  }

  @include media($law-bp-medium) {
    @include span-columns(6);
    margin: 0;
    padding: 0;
  }

  margin-bottom: 1em;

  a {
    text-decoration: none;
  }

  button {
    margin-bottom: .5em;
    text-decoration: none;
  }

  .button {
    width: 100%;
    @include media($law-bp-medium) {
      @include span-columns(12);
    }
    @include media($law-bp-large) {
      @include span-columns(12);
    }
  }
}


//desktop styles

.desktop-header {
  @include media($law-bp-small) {
    display: none;
  }

  .lawmaker-photo {
    img {
      float: left;
      display: block;
      max-width: 131px;
      margin: .5em 1em 1em 0;
      width: 100%;
    }
  }

  .lawmaker-desktop-intro {
    @include media($law-bp-large) {
      @include span-columns(6);
    }
    @include media($law-bp-medium) {
      @include span-columns(8);
    }
  }

  .lawmaker-name {
    @include span-columns(12);
  }

  .lawmaker-links {
    @include media($law-bp-large) {
      @include span-columns(8);
    }
    p {
      margin: .25em 0;
    }
  }
}

.mobile-header {
  @include media($law-bp-medium) {
    display: none;
  }
  @include media($law-bp-large) {
    display: none;
  }
}
