.hot-list-nav {
  nav {
    @include li-grid(12, 2, 3);
  }

  li {
    min-height: 0;
    margin: 0;

    @include media($small) {
      height: 6em;
    }

    @include media($medium) {
      height: 7em;
    }

    @include media($large) {
      height: 7em;
    }
  }

  .subscription {
    border: 1px solid $tribune-yellow;
    background-color: $white;
    margin-bottom: .5em;
    padding: .5em 1em;

    p {
      font-size: .9em;
    }
  }

}

// Header Class
.curated-by {
  @include span-columns(12);

  @include media($small) {
    @include span-columns(4);
  }

  @include media($medium) {
    @include span-columns(4);
  }

  @include media($large) {
    @include span-columns(4);
  }

}

// Inside Header Class
.curated {
  font-size: .8em;
  font-style: italic;
}

.headshot {
  display: inline-block;
  margin: 0 1em .5em 0;

  img {
    height: 100px;
  }
}

.hot-list-graphic {
  float: left;
  height: 2em;
  width: 2em;
  margin: 0 .5em 3em 0;

  @include media($medium) {
    &.list {
      margin: 0 .5em 4em;
    }

    &.header {
      margin: -.25em .5em 0 0;
    }
  }

  @include media($large) {
    &.list {
      margin: 0 .5em 4em;
    }

    &.header {
      margin: -.25em .5em 0 0;
    }
  }

}

.full-hot-list {
  margin-bottom: 1.5em;
  @include span-columns(12);

  @include media($small) {
    @include span-columns(8);
    @include omega();
  }

  @include media($medium) {
    @include span-columns(8);
    @include omega();
  }

  @include media($large) {
    @include span-columns(8);
    @include omega();
  }

  ul {
    margin-top: 0;
  }
}
