<div class="feature-box">
  <h5>WTF, #txlege?</h5>
  <h2 class="headline">What Really Happens During the 5 Months of Session</h2>
  <div class="video">
    <iframe width="100%" height="315" src="//www.youtube.com/embed/OhfZlznuaVE" frameborder="0" allowfullscreen></iframe>
  </div>
  <p>The Tribune's Ross Ramsey explains what lawmakers are really doing over the arch of the state's five month session.</p>
<!--   <h4>Previously on WTF, #txlege...</h4>
  <p><a href="">This is embarassing, but what does the Lt. Governor do?</a></p>
  <p><a href="">Who's that guy rattling off bill numbers in the House like an auctioneer?</a></p> -->

</div>
