<section class="featured-content">
  <div class="feature-box prose">
    <h4>WTF, #txlege?</h4>
    <h2 class="headline">What Really Happens During the 5 Months of Session</h2>
    <div class="video">
      <iframe width="100%" height="315" src="//www.youtube.com/embed/OhfZlznuaVE" frameborder="0" allowfullscreen></iframe>
    </div>
    <p>The Tribune's Ross Ramsey explains what lawmakers are really doing over the arch of the state's five month session.</p>
    <div class="more-videos">
      <header>
        <h3>Explore more videos</h3>
      </header>
      <div>
        <header>
          <h4><a href="">What's the Lieutenant Governor Do?</a></h4>
        </header>
      </div>
      <div>
        <header>
          <h4><a href="">Why does everyone keep talking about POOs in the House?</a></h4>
        </header>
      </div>
<!--       <div>
        <header>
          <h4><a href="">This is embarassing, but how are bills passed?</a></h4>
        </header>
      </div> -->
    </div>
  </div>
</section>
