<div class="feature-box">
  <h5>Talk of the Dome</h5>
  <h2>A move to consolidate the state's five health agencies</h2>
  <div class="art">
    <img src="http://placehold.it/1024x680">
  </div>
  <p><strong><em>The Gist:</em></strong> Lawmakers are trying to streamline the state's health system by consolidating five agencies into one. The move could potentially save billions of dollars, but top officials inside the agencies have voiced concerns.</p>
  <p><em>Updated: Jan. 21, 2015</em></p>
  <div class="story-stream">
    <p><strong><em>Story Stream</em></strong></p>
    <div class="slick-slide">
      <h4><em>The Latest:</em> <a href="">Senate Health Committee Considers Merging Agencies</a></h4>
    </div>
    <div class="slick-slide">
      <h4><em>The Latest:</em> <a href="">Senate Health Committee Considers Merging Agencies</a></h4>
    </div>
    <div class="slick-slide">
      <h4><em>The Latest:</em> <a href="">Senate Health Committee Considers Merging Agencies</a></h4>
    </div>
    <div class="slick-slide">
      <h4><em>The Latest:</em> <a href="">Senate Health Committee Considers Merging Agencies</a></h4>
    </div>
    <div class="slick-slide">
      <h4><em>The Latest:</em> <a href="">Senate Health Committee Considers Merging Agencies</a></h4>
    </div>
    <div class="slick-slide">
      <h4><em>The Latest:</em> <a href="">Senate Health Committee Considers Merging Agencies</a></h4>
    </div>
  </div>
</div>
