<section class="issue-box">
  <header>
    <h6 class="issue-card-title" id="{{ issue.slug }}">
      <a href="{{ issue.get_absolute_url }}">{{ issue.name }}</a>
    </h6>
    <h7 class="update-time">Updated: {{ issue.modified_date|date:"N j, Y" }}</h7>
  </header>
  {{ issue.active_text.text|safe }}
  {% if issue.related_bills.first != null %}
  <section class="related-legislation">
    <header>
      <h5 class="sub-section-header">Relevant Legislation</h5>
    </header>
    <ul class="sans">
    {% for bill in issue.related_bills.all %}
    <li><a href="{% url 'bill-detail' bill.slug %}">{{ bill.name }}</a></li>
    {% endfor %}
    </ul>
  </section>
  {% endif %}

  {% if issue.stories.first != null %}
  <section class="related-content">
    <header>
      <h5 class="sub-section-header">Story Timeline</h5>
    </header>
    <ul class="story-timeline">
    {% for story in issue.stories.all %}
      <li><a href="{{ story.url }}">{{ story.headline }}</a>
      <p class="pub-date">{{ story.pub_date }}</p>
      </li>
    {% endfor %}
    </ul>
  </section>
  {% endif %}
</section>
<section class="share-box">
  <h5>Share this issue:
    <a href="mailto:?subject=The%20Texas%20Tribune%20on%20the%2084th%20Lege:%20{{ issue.name|urlencode:"" }}&body=I%20read%20about%20an%20issue%20that%20you%20might%20be%20interested%20in%20at%20The%20Texas%20Tribune:%20{{ issue.name|urlencode:"" }}%20%0D%0Dhttp%3A%2F%2Ftxlege.texastribune.org{{ issue.get_absolute_url }}">
      <i class="fa fa-envelope"></i>
    </a>
    <a href="https://twitter.com/intent/tweet?text=Issues%20of%20the%2084th%20%23txlege%3A%20{{ issue.name|urlencode:"" }}%20http%3A%2F%2Ftxlege.texastribune.org{{ issue.get_absolute_url }}&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http%3A%2F%2Ftxlege.texastribune.org{{ issue.get_absolute_url }}&redirect_uri=http%3A%2F%2Ftxlege.texastribune.org" title="share on Facebook" class="social-share" target="_blank">
      <i class="fa fa-facebook"></i>
    </a>
  </h5>
</section>
