<section class="resources">
  <header class="bill-search-header sidebar-header-bills">
    <h3><i class="fa fa-search"></i> Find Bills</h3>
  </header>
  <div class="sidebar-content-bills collapse">
    <div>
      <header>
        <h4>Search bills by number, lawmaker or category</h4>
      </header>
      <form>
        <input id="bill-search" type="text" placeholder="Ex. &mdash; SB 1, Straus or education">
      </form>
      <button>Find</button>
    </div>

    <div>
      <header>
        <h4>Browse bills by category</h4>
      </header>
      <select>
        <option>One</option>
        <option>Two</option>
        <option>Three</option>
      </select>
    </div>

    <div>
      <header>
        <h4>Search bills filed by your lawmaker.</h4>
      </header>
      <form>
        <input id="bill-search" type="text" placeholder="Enter your address">
      </form>
      <button>Find</button>
    </div>
  </div>
  <div class="sidebar-header-resources">
    <header>
      <h3>Lege Resources</h3>
    </header>
    <div class="sidebar-content-resources collapse">
      <ul>
        <li><a href="">Ethics Explorer</a> &mdash; A guide to the financial interests of elected officials</a></li>
        <li><a href="">Elected Officials Directory</a></li>
        <li>Seating Charts: <a href="">House</a> | <a href="">Senate</a></li>
        <li><a href="">Capitol Map</a></li>
        <li><a href="">Upcoming Committee Hearings</a></li>
      </ul>
    </div>
  </div>

</section>
