<section class="side-bar resources">
  <div>
     <header class="sidebar-header">
      <h3><i class="fa fa-search"></i> Look Up Bills</h3>
    </header>
    <div class="sidebar-content collapse">
      <h4>By Number, Lawmaker or Category</h4>
      <form>
        <input id="bill-search" type="text" placeholder="Ex. &mdash; SB 1, Straus or Education">
      </form>
      <button>Find</button>
    </div>
  </div>

  <div>
    <header class="sidebar-header">
      <h3>Who Represents Me?</h3>
    </header>
    <div class="sidebar-content collapse">
      <h4>Find legislation filed by the people who represent you.</h4>
      <form>
        <input id="bill-search" type="text" placeholder="Enter your address">
      </form>
      <button>Find</button>
    </div>
  </div>

  <div>
    <header class="sidebar-header">
      <h3>Browse Bills by Category</h3>
    </header>
    <div class="sidebar-content collapse">
      <select>
        <option>One</option>
        <option>Two</option>
        <option>Three</option>
      </select>
      <button>Find</button>
    </div>
  </div>

  <div>
    <header class="sidebar-header">
      <h3>Lege Resources</h3>
    </header>
    <div class="sidebar-content collapse">
      <ul>
        <li><a href="">Ethics Explorer</a> &mdash; A guide to the financial interests of elected officials</a></li>
        <li><a href="">Elected Officials Directory</a></li>
        <li>Seating Charts: <a href="">House</a> | <a href="">Senate</a></li>
        <li><a href="">Capitol Map</a></li>
        <li><a href="">Upcoming Committee Hearings</a></li>
      </ul>
    </div>
  </div>

</section>
