{% load staticfiles %}
<section class="resources">
  <div class="resource-bk">
    <header class="bill-search-header sidebar-header-bills">
      <h3><i class="fa fa-search"></i> Find Bills</h3>
      <div class="arrow-b">
        <i class="fa fa-angle-right"></i>
      </div>
      <div class="arrow-b collapse">
        <i class="fa fa-angle-down"></i>
      </div>
    </header>
    <div class="sidebar-content-bills collapse">
      <div>
        <header>
          <h4>Search bills by number</h4>
        </header>
        <form>
          <input id="bill-search" type="text" placeholder="Ex. &mdash; SB 1, Straus or education">
        </form>
        <button>Find</button>
      </div>
      <div>
        <header>
          <h4>Browse bills by category</h4>
        </header>
        <select id="category-dropdown">
        {% for category in subject_list %}
          <option value="{{ category.get_absolute_url }}">{{ category.name }}</option>
        {% endfor %}
        </select>
      </div>

      <div>
        <header>
          <h4>Browse bills filed by your lawmaker</h4>
        </header>
        <form>
          <input id="bill-search" type="text" placeholder="Enter your address">
        </form>
        <button>Find</button>
      </div>

      <div>
        <header>
          <img class="open-states-logo" src="{% static 'images/brand/openstates_logo_200.png' %}">
          <h4>Bill data is provided by <a href="http://openstates.org/">Open States</a>, a product of the Sunlight Foundation. It is updated nightly.</h4>
        </header>
      </div>
    </div>
    <div class="sidebar-header-resources">
      <header>
        <h3>Lege Resources</h3>
        <div class="arrow-b">
          <i class="fa fa-angle-right"></i>
        </div>
        <div class="arrow-b collapse">
          <i class="fa fa-angle-down"></i>
        </div>
      </header>
      <div class="sidebar-content-resources collapse">
        <ul>
          <li><a href="">Ethics Explorer</a> &mdash; A guide to the financial interests of elected officials</li>
          <li><a href="">Elected Officials Directory</a></li>
          <li>Seating Charts: <a href="">House</a> | <a href="">Senate</a></li>
          <li><a href="">Capitol Map</a></li>
          <li><a href="">Upcoming Committee Hearings</a></li>
        </ul>
      </div>
    </div>
    {% include "includes/box_ad.html" %}
  </div>
</section>
