  <meta property="og:site_name" content="The Texas Tribune">
    <meta property="og:title" content="{{ object.name }} | The Texas Tribune's 84th Lege Coverage">
    <meta property="og:description" content="{{ object.name }}: {{ object.description }}">
    <meta property="og:url" content="http://txlege.texastribune.org{{ object.get_absolute_url }}">
    <meta property="og:image" content="http://s3.amazonaws.com/static.texastribune.org/media/images/2014/04/25/Capitolbuilding1.jpg">
    <meta property="og:type" content="website">
