  <meta property="og:site_name" content="The Texas Tribune">
    <meta property="og:title" content="Issues by Topic | The Texas Tribune's Legislative Coverage">
    <meta property="og:description" content="Check out The Texas Tribune's top issues of the 84th Legislative session, by topic">
    <meta property="og:url" content="http://txlege.texastribune.org/84/hot-lists/">
    <meta property="og:image" content="http://txlege.texastribune.org/static/images/fb-share/84lege-fb-share_hotlist.png">
    <meta property="og:type" content="website">

