  <meta property="og:site_name" content="The Texas Tribune">
    <meta property="og:title" content="{{ issue.name }} | The Texas Tribune">
    <meta property="og:description" content="Check out The Texas Tribune's coverage of the 84th lege: {{ issue.name }}, a top issue of the 2015 Texas legislative session">
    <meta property="og:url" content="http://txlege.texastribune.org{{ issue.get_absolute_url }}">
    <meta property="og:image" content="http://s3.amazonaws.com/static.texastribune.org/media/images/2014/04/25/Capitolbuilding1.jpg">
    <meta property="og:type" content="website">
