{% load staticfiles %}
  <meta property="og:site_name" content="The Texas Tribune">
    <meta property="og:title" content="{{ issue.name }}">
    <meta property="og:description" content="Check out The Texas Tribune’s guide to this hot issue in the 84th legislative session.">
    <meta property="og:url" content="http://txlege.texastribune.org{{ issue.get_absolute_url }}">
    <meta property="og:image" content="http://txlege.texastribune.org{% static 'images/fb-share/' %}84lege-fb-share_{{ issue.topic.slug }}.png">
    <meta property="og:type" content="website">
