{% load staticfiles %}
  <meta property="og:site_name" content="The Texas Tribune">
    <meta property="og:title" content="Hot List: {{ topic.name }}">
    <meta property="og:description" content="Check out The Texas Tribune’s list of top {% if topic.name == "Social Issues" %}social{% else %} {{ topic.name|lower }} {% endif %} issues for the 84th legislative session.">
    <meta property="og:url" content="http://txlege.texastribune.org{{ topic.get_absolute_url }}">
    <meta property="og:image" content="http://txlege.texastribune.org{% static 'images/fb-share/' %}84lege-fb-share_{{ topic.slug }}.png">
    <meta property="og:type" content="website">

