.issue-box {
  @include clearfix;
  background-color: $background-gray;
  margin:1em 0 1.5em;
  padding: .5em;

  p {
    font-family: $base-serif;
    line-height: 1.4;
  }

  .share-box {
    @include span-columns(12);
    color: $tribune-black;
    background-color: $tribune-yellow;

    h5 {
      font-size: .7em;
      font-weight: 400;
      letter-spacing: .1em;
      text-align: center;

      i {
        font-size: 1.5em;
        padding: .25em 0;
        margin: 0 .5em;
      }

      a {
        border-bottom: 0;
        text-decoration: none;
      }
    }
  }
}

