.issue-box {
  @include clearfix;
  background-color: $background-gray;
  margin: 1em 0 0;
  padding: .5em 1.25em;

  p {
    font-family: $base-serif;
    line-height: 1.4;
  }
}

.share-box {
  @include clearfix;
  color: $tribune-black;
  background-color: $tribune-yellow;
  margin-bottom: 1em;
  padding: .1em 0;
  width: 100%;

  p {
    font-size: .9em;
    margin: .25em 0;
    text-transform: uppercase;
    text-align: center;

    i {
      font-size: 1.1em;
      padding: 0 .5em 0 1em;
      margin: 0 .5em;
    }

    a {
      border-bottom: 0;
      color: $text-gray;
      text-decoration: none;

      &:hover {
        color: $teal;
      }
    }
  }
}

