article.issue-nav-box {
  margin: 1em 0;
  padding-botttom: .5em;
}

.more-issues {
  span {
    color: $teal;
  }

  a {
    color: $li-black;
    text-decoration: none;

    &:hover {
      color: $teal;
      text-decoration: none;
    }
  }
}
