{% extends 'base.html' %}

{% block mobileheader %}
  {% include "components/page-headers/bill-page-header.html" %}
{% endblock %}

{% block desktopheader %}
  {% include "components/page-headers/bill-page-header.html" %}
{% endblock %}

{% load staticfiles %}
{% block content %}
  <div class="bill">
    <div class="bill-section">
      <header>
        <h3>Last Action</h3>
      </header>
      <p>{{ object.actions.last.text }} <em> {{ object.actions.last.date }}</em></p>
    </div>

    <div class="bill-authors bill-section">
      <div>
        <header>
          <h3>Author</h3>
        </header>
        <ul>
        {% for n in object.sponsorships.all %}
          {% if n.role = 'author' %}
            <li>Rep. <a href="{% url 'legislator-detail' n.legislator.slug %}">{{ n.legislator }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
      {% if 'coauthor' in object.sponsorships.all.role %}
      <div>
        <header>
          <h3>Coauthors</h3>
        </header>
        <ul>
          {% for o in object.sponsorships.all %}
            {% if o.role = 'coauthor' %}
            <li>Rep. <a href="{% url 'legislator-detail' o.legislator.slug %}">{{ o }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% if 'sponsor' in object.sponsorships.all.role %}
      <div>
        <header>
          <h3>Sponsor</h3>
        </header>
        <ul>
        {% for p in object.sponsorships.all %}
          {% if p.role = 'sponsor' %}
            <li>Rep. <a href="{% url 'legislator-detail' p.legislator.slug %}">{{ p.legislator }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div>&nbsp;</div>
    </div>
    <div class="bill-committee-assignment bill-section">
      <div>
        <header>
          <h3>House Committee</h3>
        </header>
        {% if object.house_committee != "" %}
          <p><a href="{% url 'committee-detail' chamber=object.chamber.slug slug=object.house_committee.slug %}">{{ object.house_committee }}</a></p>
        {% else %}
          <p>Committee not yet assigned</p>
        {% endif %}
      </div>
      <div>
        <header>
          <h3>Senate Committee</h3>
        </header>
        {% if object.senate_committee != "" %}
          <p><a href="{% url 'committee-detail' chamber=object.chamber.slug slug=object.senate_committee.slug %}">{{ object.senate_committee }}</a></p>
        {% else %}
          <p>Committee not yet assigned</p>
        {% endif %}
      </div>
    </div>
    <div class="bill-section">
      <header>
        <h3>Related Issue</h3>
      </header>
      <p><a href="">New taxes to support Texas Lotto</a></p>
    </div>
    <div class="stages bill-section">
      <header>
        <h3>Bill Stages</h3>
      </header>
      <div class="bill-stage">
        <p>Filed</p>
        <span class="fa-stack">
            <img class="fa fa-stack-2x scroll" src="{% static 'images/icons/bill-scroll-icon-blank.svg' %}"></img>
            <i class="fa fa-check-circle fa-stack-1x"></i>
          </span>
          <p class="date-stage-complete">{{ object.actions.first.date }}</p>
      </div>
      <div class="bill-stage">
        <p>
          {% if object.chamber == 'Texas House' %}
            Approved by House
          {% else %}
            Approved by Senate
          {% endif %}
        </p>
      </div>
      <div class="bill-stage">
        <p>
          {% if object.chamber == 'Texas House' %}
            Approved by Senate
          {% else %}
            Approved by House
          {% endif %}
        </p>
      </div>
      <div class="bill-stage">
        <p>Governor Action</p>
        {% if 'Effective' in object.actions.text %}
          <p>Effective</p>
          {% else %}
        {% endif %}
      </div>

    </div>
    <div class="bill-table bill-section bill-actions">
      <h3>Actions</h3>
      <table>
        <thead>
          <tr>
            <th>Action</th>
            <th>Date</th>
            <th>Acting Chamber</th>
          </tr>
        </thead>
        <tbody>
        {% for o in object.actions.all reversed %}
          <tr>
            <td data-title="Action">{{ o.text }}</td>
            <td data-title="Data">{{ o.date|date:"SHORT_DATE_FORMAT" }}</td>
            <td data-title="Acting Chamber">{{ o.acting_chamber.name }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


{% endblock %}
