{% extends 'base.html' %}

{% block og_data %}
  {% include "includes/og/og_basic.html" %}
{% endblock %}

{% block content %}
  <section>
    <header>
      <h2 class="page-header">{{ object.name }}</h2>
    </header>
  </section>
  <section class="share-page">
    <ul>
      <a href="mailto:?subject=}&body=">
        <li class="email"><i class="fa fa-envelope"></i></li>
      </a>
      <a href="https://twitter.com/intent/tweet?text=&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
        <li class="facebook"><i class="fa fa-twitter"></i></li>
      </a>
      <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=TK&redirect_uri=http%3A%2F%2Ftxlege.texastribune.org" title="share on Facebook" class="social-share" target="_blank">
        <li class="twitter"><i class="fa fa-facebook"></i></li>
      </a>
    </ul>
  </section>

  <section>
    <div class="committee-chairs">
      <div class="curated-by">
        <img src="{{ object.chair.tribune_photo }}">
      </div>
      <div class="chair-detail">
        <h5 class="sub-section-header">Chair</h5>
        <p class="emphasis"><a href="{{ object.chair.get_absolute_url }}">{{ object.chair }}</a></p>
        <p class="sub-text">State {% if object.vide_chair.chamber.name == "Texas Senate" %} Senator {% else %} Representative {% endif %} ({{ object.vice_chair.party.short_name }})</p>
      </div>
    </div>
  </section>
  <section>
    <div class="committee-chairs">
      <div class="curated-by">
        <img src="{{ object.vice_chair.tribune_photo }}">
      </div>
      <div class="chair-detail">
        <h5 class="sub-section-header">Vice Chair</h5>
        <p class="emphasis"><a href="{{ object.vice_chair.get_absolute.url }}">{{ object.vice_chair }}</a></p>
        <p class="sub-text">State {% if object.vide_chair.chamber.name == "Texas Senate" %} Senator {% else %} Representative {% endif %} ({{ object.vice_chair.party.short_name }})</p>
      </div>
    </div>
  </section>

  <section>
    <div class="committee-members">
      <h5 class="sub-section-header">Committee Members</h5>
      <ul>
      {% for o in object.member_list %}
        <li><a href="{{ o.legislator.get_absolute_url }}">{{ o.legislator }} <span class="{% if o.legislator.party.short_name == 'D' %} democrat {% else %} republican {% endif %}">({{ o.legislator.party.short_name }})</span></a></li>
      {% endfor %}
      </ul>
      <hr class="yellow-hr"/>
    </div>
  </section>
  <section>
    <div class="bill-table">
      <table>
        <thead>
          <tr>
            <th>Bill</th>
            <th>Caption</th>
            <th>Date Referred to Committee</th>
          </tr>
        </thead>
        <tbody>
        {% for o in object.actions.all %}
          <tr>
            <td data-title="Bill"><a href="{{ o.bill.get_absolute_url }}">{{ o.bill.name }}</a></td>
            <td data-title="Category">{% for p in o.bill.subjects.all %}{{ p }}<br />{% endfor %}</td>
            <td data-title="Caption">{{ o.bill.description }}</td>
            <td data-title="Referred to Committee on">{{ o.date|date:"SHORT_DATE_FORMAT" }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </section>

{% endblock %}
