{% extends 'base.html' %}

{% block mobileheader %}
  {% include "components/page-headers/committee-page-header.html" %}
{% endblock %}

{% block desktopheader %}
  {% include "components/page-headers/committee-page-header.html" %}
{% endblock %}

{% block content %}
  <div class="committee">
    <div class="committee-members">
      <h5>Members</h5>
      <ul>
      {% for o in object.member_list %}
        <li><img class="headshot" src="http://s3.amazonaws.com/static.texastribune.org/media/profiles/politicians/charles-schwertner_4_jpg_131x197_crop_q100.jpg"><a href="{% url 'legislator-detail' o.legislator.slug %}">{% if object.chamber.name == "Texas Senate" %} Sen. {% else %} Rep. {% endif %} {{ o.legislator }}</a></li>
      {% endfor %}
      </ul>
    </div>
    <div class="bill-table">
      <table>
        <thead>
          <tr>
            <th>Bill</th>
            <th>Categories</th>
            <th>Caption</th>
            <th>Referred to committee on</th>
          </tr>
        </thead>
        <tbody>
        {% for o in object.actions.all %}
          <tr>
            <td data-title="Bill Number"><a href="{% url 'bill-detail' o.bill.slug %}">{{ o.bill.name }}</a></td>
            <td data-title="Category">{% for p in o.bill.subjects.all %}{{ p }}<br />{% endfor %}</td>
            <td data-title="Caption">{{ o.bill.description }}</td>
            <td data-title="Referred to Committee on">{{ o.date|date:"SHORT_DATE_FORMAT" }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
