{% extends 'base.html' %}

{% block og_data %}
  {% include "includes/og/og_lawmaker.html" %}
{% endblock %}

{% block content %}
<section>
  <section class="desktop-header">
    <div class="lawmaker-about">
      <img class="desktop-image" src="{{ object.tribune_photo }}">
    </div>
    <header class="page-header">
      <h2>{{ object.chamber.short_name }} {{ object.full_name }}</h2>
      <p class="sub-text"><span class="{{ object.party.name|lower }}">{{ object.party.short_name }}</span> - {{ object.tribune_city }}</p>
    </header>
    <section class="share-page">
    <ul>
      <a href="mailto:?subject=}&body=" class="social-share">
        <li class="email"><i class="fa fa-envelope"></i></li>
      </a>
      <a href="https://twitter.com/intent/tweet?text=&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
        <li class="facebook"><i class="fa fa-twitter"></i></li>
      </a>
      <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=TK&redirect_uri=http%3A%2F%2Ftxlege.texastribune.org" title="share on Facebook" class="social-share" target="_blank">
        <li class="twitter"><i class="fa fa-facebook"></i></li>
      </a>
    </ul>
    </section>

  </section>

  <section class="mobile-header legislator-details">
    <header>
      <div class="headshot">
        <img class="lawmaker-img" src="{{ object.tribune_photo }}">
        <div class="lawmaker-header">
          <p class="lawmaker-name emphasis">{{ object.chamber.short_name }} {{ object.full_name }}</p>
          <p class="subtext">(<span class="{{ object.party.name|lower }}">{{ object.party.short_name }}</span>-{{ object.tribune_city }})</p>
          <p class="subtext">{{ object.chamber.chamber_name }}</p>
        </div>
      </div>
    </header>
      <section class="share-page">
    <ul>
      <a href="mailto:?subject=}&body=" class="social-share">
        <li class="email"><i class="fa fa-envelope"></i></li>
      </a>
      <a href="https://twitter.com/intent/tweet?text=&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
        <li class="facebook"><i class="fa fa-twitter"></i></li>
      </a>
      <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=TK&redirect_uri=http%3A%2F%2Ftxlege.texastribune.org" title="share on Facebook" class="social-share" target="_blank">
        <li class="twitter"><i class="fa fa-facebook"></i></li>
      </a>
    </ul>
    </section>

    <section class="lawmaker-links">
      <header>
        <h3 class="section-header">Capitol office:</h3>
        {% if object.tribune_room %}
        <p class="sub-text">Room: {{ object.tribune_room }} (<a href="https://www.texastribune.org/directory/offices/{{ object.tribune_room }}/">See on map</a>)</p>
        {% endif %}
        <p class="sub-text">Phone: <a href="tel:{{ object.capitol_phone }}">{{ object.capitol_phone }}</a></p>
      </header>
      <a href="{{ object.tribune_directory_url }}"><button class="button">View in Directory</button></a>
      <a href="{{ object.tribune_ethics_url }}"><button class="button">View in Ethics Explorer</button></a>
    </section>
  </section>
</section>

  {% if object.memberships.first != null %}
  <section>
    <header>
      <h3 class="section-header">Committees</h3>
    </header>
    <div class="committee-assignments">
      <ul class="sans">
        {% for membership in object.memberships.all %}
          {% if membership.role == "Chair" %}
            <li>{{ membership.role }}, <a href="{{ membership.committee.get_absolute_url }}">{{ membership.committee }}</a></li>
          {% endif %}
          {% if membership.role == "Vice Chair" %}
            <li>{{ membership.role }}, <a href="{{ membership.committee.get_absolute_url }}">{{ membership.committee }}</a></li>
          {% endif %}
          {% if membership.role == "Member" %}
            <li>{{ membership.role }}, <a href="{{ membership.committee.get_absolute_url }}">{{ membership.committee }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <header>
      <h3 class="section-header">Filed legislation</h3>
    </header>
    <div class="bill-table">
    {% if object.sponsorships.first != null %}
      <table>
        <thead>
          <tr>
            <th>Bill</th>
            <th>Caption</th>
            <th>Date of last action</th>
          </tr>
        </thead>
        <tbody>
          {% for sponsorship in object.sponsorships.all %}
          <tr>
            <td data-title="Bill"><a href="{{ sponsorship.bill.get_absolute_url }}">{{ sponsorship.bill.name }}</a></td>
            <td data-title="Caption">{{ sponsorship.bill.description }}</td>
            <td data-title="Date of last action">{{ sponsorship.bill.last_action_date|date:"SHORT_DATE_FORMAT" }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>This legislator hasn't filed any bills yet.</p>
      {% endif %}
    </div>
  </section>
{% endblock %}
