{% extends 'base.html' %}

{% block mobileheader %}
  {% include "components/page-headers/legislator-page-header.html" %}
{% endblock %}

{% block desktopheader %}
  {% include "components/page-headers/legislator-page-header.html" %}
{% endblock %}

{% block content %}



  <div class="bill-table">
    <table>
      <thead>
        <tr>
          <th>Role</th>
          <th>Committee</th>
        </tr>
      </thead>
      <tbody>
        {% for o in object.memberships.all %}
        <tr>
          <td data-title="Role">{{ o.role }}</td>
          <td data-title="Committee"><a href="{% url 'committee-detail' chamber=o.committee.chamber.slug slug=o.committee.slug %}">{{ o.committee }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Bill Number</th>
          <th>Category</th>
          <th>Caption</th>
        </tr>
      </thead>
      <tbody>
      {% for p in object.sponsorships.all %}
        <tr>
          <td data-title="Bill Number"><a href="{% url 'bill-detail' p.bill.slug %}">{{ p.bill.name }}</a></td>
          <td data-title="Category">{% for s in p.bill.subjects.all %}{{ s.name }} {% endfor %}</td>
          <td data-title="Caption">{{ p.bill.description }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


{% endblock %}
