{% extends 'base.html' %}

{% block content %}
<section class="project-header">
  <div class="side-bar">
    <header>
      <h1>On the Lege</h1>
    </header>
  </div>

  <div class="body-main">
    <div class="legislator-info">
      <img src="http://s3.amazonaws.com/static.texastribune.org/media/profiles/politicians/Campbell-Donna768updated_1_jpg_131x197_crop_q100.jpg">
      <h2>{% if object.chamber.name == "Texas Senate" %} Sen. {% else %} Rep. {% endif %} {{ object.full_name }}, {{ object.party.short_name }}-{{ object.district }}</h2>
      {{ object.chamber }}
      <p>District {{ object.district }}</p>
      <p>Capitol address: {{ object.capitol_address }}</p>
      <p>Phone Number: <a href="tel:{{ object.capitol_phone }}">{{ object.capitol_phone }}</a></p>
      <br />
      <p>District Office: {{ object.district_address }}</p>
      <p>District Phone: <a href="tel:{{ object.district_phone }}">{{ object.district_phone }}</a></p>
    </div>
  </div>
</section>

{% include "components/side-bar.html" %}

<section class="body-main">
  <div class="bill-table">
    <table>
      <thead>
        <tr>
          <th>Role</th>
          <th>Committee</th>
        </tr>
      </thead>
      <tbody>
        {% for o in object.memberships.all %}
        <tr>
          <td data-title="Role">{{ o.role }}</td>
          <td data-title="Committee"><a href="{% url 'committee-detail' chamber=o.committee.chamber.slug slug=o.committee.slug %}">{{ o.committee }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Bill Number</th>
          <th>Category</th>
          <th>Caption</th>
        </tr>
      </thead>
      <tbody>
      {% for p in object.sponsorships.all %}
        <tr>
          <td data-title="Bill Number"><a href="{% url 'bill-detail' p.bill.slug %}">{{ p.bill.name }}</a></td>
          <td data-title="Category">{% for s in p.bill.subjects.all %}{{ s.name }} {% endfor %}</td>
          <td data-title="Caption">{{ p.bill.description }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

{% endblock %}
