{% extends 'base.html' %}

{% block og_data %}
  {% include "includes/og/og_bill.html" %}
{% endblock %}

{% load staticfiles %}
{% block content %}

<section>
  <header class="page-header">
    <h2>New Laws</h2>
    <p class="sub-text">The list of bills from the 84th legislative session that became law is below. Not every bill that passes both chambers becomes law. The governor has 20 days post-adjournment to veto bills. <a href="{% url 'vetoed-bills' %}">See the list of bills that were vetoed</a>.</p>
  </header>
  <div class="share-page">
    <ul>
      <a href="mailto:?subject=The%20Texas%20Tribune%27s%20Texas%20Legislative%20Guide&body=Check%20out%20this%20list%20of%20bills%20signed%20into%20the%20law%20by%20the%2084th%20Texas%20Legislature%20from%20the%20Texas%20Tribune%27s%20Texas%20Legislative%20Guide.%20%20%20%0D%0Dhttp%3A%2F%2Ftxlege.texastribune.org{% url 'new-laws' %}">
        <li class="email"><i class="fa fa-envelope"></i></li>
      </a>
      <a href="https://twitter.com/intent/tweet?text=&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
        <li class="twitter"><i class="fa fa-twitter"></i></li>
      </a>
      <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http%3A%2F%2Ftxlege.texastribune.org&redirect_uri=http%3A%2F%2Ftxlege.texastribune.org" title="share on Facebook" class="social-share" target="_blank">
        <li class="facebook"><i class="fa fa-facebook"></i></li>
      </a>
    </ul>
  </div>
</section>

{% include "includes/banner_ad.html" %}

<section>
  <div class="new-law-table">
    <table>
      <thead>
        <tr>
          <th>Bill</th>
          <th class="align-left">Description</th>
          <th>Effective Date</th>
        </tr>
      </thead>
      <tbody>
      {% for bill in bill_list %}
        <tr>
          <td data-title="Bill"><a href="{{ bill.get_absolute_url }}">{{ bill.name }}</a></td>
          <td class="align-left" data-title="Description">{{ bill.description }}</td>
          <td data-title="Last action">{{ bill.actions.last.text }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</section>

{% endblock %}
