{% extends 'base.html' %}

{% block content %}

  <div>
    <h2>{{ object.name }}</h2>
  </div>

<section>
  <table>
    <thead>
      <tr>
        <th>Bill</th>
        <th>Caption</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {% for bill in object.bills.all %}
      <tr>
        <td data-title="Bill"><a href="{{ bill.get_absolute_url }}">{{ bill.name }}</a></td>
        <td data-title="Caption">{{ bill.description }}</td>
        <td data-title="Action">{{ bill.actions.first.text }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</section>

{% endblock %}

