{% extends 'base.html' %}

{% block content %}

<section class="project-header">
  <div class="side-bar">
    <header>
      <h1>On the Lege</h1>
    </header>
  </div>

  <div class="body-main">
    <h2>{{ object.name }}</h2>
  </div>
</section>
{% include "components/side-bar.html" %}

<section class="body-main">
  <table>
    <thead>
      <tr>
        <th>Bill</th>
        <th>Caption</th>
      </tr>
    </thead>
    <tbody>
    {% for s in object.bills.all %}
      <tr>
        <td data-title="Bill">{{ s }}</td>
        <td data-title="Caption">{{ s.description }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</section>

{% endblock %}
