{% extends 'base.html' %}

{% block og_data %}
  {% include "includes/og/og_bill.html" %}
{% endblock %}

{% load staticfiles %}
{% block content %}

<section>
  <header class="page-header">
  <h2>Bill categories</h2>
  <p class="sub-text">Bills are categorized by <a href="http://openstates.org/">Open States</a>, a product of the Sunlight Foundation.</p>
  </header>
  <div class="share-page">
    <ul>
      <a href="mailto:?subject=The%20Texas%20Tribune%27s%20Texas%20Legislative%20Guide&body=I%20thought%20you%20might%20be%20interested%20in%20learning%20more%20about%20the%20Texas%20legislature.%20Check%20out%20this%20list%20of%20bill%20categories%20on%20The%20Texas%20Tribune%27s%20Texas%20Legislative%20Guide%20to%20find%20the%20bills%20pertaining%20to%20your%20interests.%20%20%0D%0Dhttp%3A%2F%2Ftxlege.texastribune.org{{ object.get_absolute_url }}">
        <li class="email"><i class="fa fa-envelope"></i></li>
      </a>
      <a href="https://twitter.com/intent/tweet?text=&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
        <li class="twitter"><i class="fa fa-twitter"></i></li>
      </a>
      <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http%3A%2F%2Ftxlege.texastribune.org&redirect_uri=http%3A%2F%2Ftxlege.texastribune.org" title="share on Facebook" class="social-share" target="_blank">
        <li class="facebook"><i class="fa fa-facebook"></i></li>
      </a>
    </ul>
  </div>
</section>

  {% include "includes/banner_ad.html" %}

<section>
  <ul class="sans">
  {% for subject in subject_list %}
    <li><a href="{{ subject.get_absolute_url }}">{{ subject.name }}</a></li>
  {% endfor %}
  </ul>
</section>

{% endblock %}
