{% extends 'base.html' %}

{% block og_data %}
  {% include "includes/og/og_subject.html" %}
{% endblock %}

{% block content %}
  <section>
    <header class="page-header">
      <h2>{{ object.name }}</h2>
      <p class="sub-text">Bills are categorized by <a href="http://openstates.org/">Open States</a>, a product of the Sunlight Foundation.</p>
    </header>
    <div class="share-page">
      <ul>
        <a href="mailto:?subject=}&body=">
          <li class="email"><i class="fa fa-envelope"></i></li>
        </a>
        <a href="https://twitter.com/intent/tweet?text=&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
          <li class="twitter"><i class="fa fa-twitter"></i></li>
        </a>
        <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=TK&redirect_uri=http%3A%2F%2Ftxlege.texastribune.org" title="share on Facebook" class="social-share" target="_blank">
          <li class="facebook"><i class="fa fa-facebook"></i></li>
        </a>
      </ul>
    </div>
  </section>

  {% include "includes/banner_ad.html" %}

  <section>
  {% if object.bills.first != null %}
    <table class="bill-table">
      <thead>
        <tr>
          <th>Bill</th>
          <th>Caption</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
      {% for bill in object.bills.all %}
        <tr>
          <td data-title="Bill"><a href="{{ bill.get_absolute_url }}">{{ bill.name }}</a></td>
          <td data-title="Caption">{{ bill.description }}</td>
          <td data-title="Action">{{ bill.actions.first.text }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
  <p>No bills have been filed under this category yet.</p>
  {% endif %}
  </section>

{% endblock %}

