{% extends 'base.html' %}

{% block mobileheader %}
  {% include "components/page-headers/hot-list-header.html" %}
{% endblock %}

{% block desktopheader %}
  {% include "components/page-headers/hot-list-header.html" %}
{% endblock %}

{% block content %}
<section class="body-main">
  {% include "components/page-headers/hot-list-header.html" %}

  {% for o in object.issues.all %}
  <div class="issue-embed-block prose">
    <div class="issue-header">
      <h3>{{ o.name }}</h3>
      <div class="share-topic">
        <h4>Share this:</h4>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
      </div>
    </div>
    {{ o.text }}
    <div class="issue-legislation">
      <h5>Related Legislation</h5>
      <ul>
        {% for p in object.related_bills %}
        <li> {{ p }} </li>
        {% endfor %}
      </ul>
    </div>
    <div class="story-stream">
      <h5>Related Content</h5>
      <div class="slick-slide">
        <h4><a href="">Senate Health Committee Considers Merging Agencies</a></h4>
      </div>
    </div>
  </div>
  {% endfor %}
</section>


{% endblock %}
