{% extends 'base.html' %}

{% block content %}
<section class="project-header">
  <div class="side-bar">
    <header>
      <h1>On the Lege</h1>
    </header>
  </div>

  <div class="body-main">
    {% include "modules/topic-page-header.html" with topic_list=topic_list %}
  </div>
</section>

{% include "components/side-bar.html" %}

<section class="body-main">
  {% for topic in object_list %}
    <div class="issue-list-block">
      <header class="issue-list-header">
        <h3 class="headline"><a href="{% url 'topic-detail' topic.slug %}">{{ topic.name }}</a></h3>
        <img class="headshot" src="../static/images/headshots/Edgar_jpg_131x197_crop_q100.jpg">
        <img class="headshot" src="../static/images/headshots/Ura-Alexa_jpg_131x197_crop_q100.jpg">
        <p class="curated">Curated by XXX and XXX</p>
      </header>

      <div class="issue-list-landing">
        <ul>
        {% for issue in topic.issues.all %}
          <li><a href="{% url 'issue-detail' topic.slug issue.slug %}">{{ issue.name }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}
