{% extends 'base.html' %}

{% block mobileheader %}
  {% include "components/page-headers/hot-list-landing-header.html" %}
{% endblock %}

{% block desktopheader %}
  {% include "components/page-headers/hot-list-landing-header.html" %}
{% endblock %}

{% block content %}
<section class="body-main">
  <div class="issue-list-block">
    <header class="issue-list-header">
      <h3 class="headline">Health Care</h3>
      <img class="headshot" src="../static/images/headshots/Edgar_jpg_131x197_crop_q100.jpg">
      <img class="headshot" src="../static/images/headshots/Ura-Alexa_jpg_131x197_crop_q100.jpg">
      <p class="curated">Curated by Edgar Walters and Alexa Ura</p>
    </header>

    <div class="issue-list-landing">
      <ul>
        <li>A move to consolidate the state's 5 health agencies</li>
        <li>Texas' solution to Medicaid expansion</li>
        <li>More regulations for abortion providers</li>
        <li>A move to consolidate the state's 5 health agencies</li>
        <li>Texas' solution to Medicaid expansion</li>
        <li>More regulations for abortion providers</li>
      </ul>
    </div>
  </div>

  <div class="issue-list-block">
    <header class="issue-list-header">
      <h3 class="headline">Public Education</h3>
      <img class="headshot" src="../static/images/headshots/Edgar_jpg_131x197_crop_q100.jpg">
      <img class="headshot" src="../static/images/headshots/Ura-Alexa_jpg_131x197_crop_q100.jpg">
      <p class="curated">Curated by Edgar Walters and Alexa Ura</p>
    </header>

    <div class="issue-list-landing">
      <ul>
        <li>A move to consolidate the state's 5 health agencies</li>
        <li>Texas' solution to Medicaid expansion</li>
        <li>More regulations for abortion providers</li>
        <li>A move to consolidate the state's 5 health agencies</li>
        <li>Texas' solution to Medicaid expansion</li>
        <li>More regulations for abortion providers</li>
        <li>Texas' solution to Medicaid expansion</li>
        <li>More regulations for abortion providers</li>
      </ul>
    </div>
  </div>
</section>

{% endblock %}
