{% extends 'base.html' %}

{% block content %}
<section class="project-header">
  <div class="side-bar">
    <header>
      <h1>On the Lege</h1>
    </header>
  </div>

  <div class="body-main">
    <header>
      <h5>Legislative Hot List</h5>
      <h2>{{ object.name }}</h2>
    </header>
    <img class="headshot" src="../static/images/headshots/Edgar_jpg_131x197_crop_q100.jpg">
    <img class="headshot" src="../static/images/headshots/Ura-Alexa_jpg_131x197_crop_q100.jpg">
    <p class="curated">Curated by XXX and XXX</p>
  </div>
</section>

{% include "components/side-bar.html" %}

<section class="body-main">
  {% include "modules/topic-page-header.html" %}

  {% for issue in object.issues.all %}
  <div class="issue-embed-block prose">
    <div class="issue-header">
      <h3 id="{{ issue.slug }}">{{ issue.name }}</h3>
      <div class="share-topic">
        <h4>Share this:</h4>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
      </div>
    </div>
    {{ issue.active_text.text|safe }}
    <div class="issue-legislation">
      <h5>Related Legislation</h5>
      <ul>
      {% for bill in issue.related_bills.all %}
      <li>{{ bill.name }}</li>
      {% endfor %}
      </ul>
    </div>
    <div class="story-stream">
      <h5>Related Content</h5>
<!--       <div class="slick-slide">
        <h4><a href="">Senate Health Committee Considers Merging Agencies</a></h4>
      </div> -->
      <ul>
      {% for story in issue.stream_of.stories.all %}
        <li>{{ story.headline }}</li>
      {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</section>


{% endblock %}
