{% extends 'base.html' %}

{% block mobileheader %}
  {% include "components/page-headers/hot-list-landing-header.html" %}
{% endblock %}

{% block desktopheader %}
  {% include "components/page-headers/hot-list-landing-header.html" %}
{% endblock %}

  <div class="body-main">
    {% include "modules/topic-page-header.html" with topic_list=topic_list %}
  </div>
</section>

{% block content %}

{% for topic in object_list %}

  <div class="issue-list-block">
    <header class="hot-list-nav">
      <h2><span class="hot-list-name">{{ topic.name }}</span></h2>
    </header>
    <header class="curated-by">
      <div class="headshot">
        <img src="http://s3.amazonaws.com/static.texastribune.org/media/profiles/politicians/Campbell-Donna768updated_1_jpg_131x197_crop_q100.jpg">
      </div>
      <div class="headshot">
        <img src="http://s3.amazonaws.com/static.texastribune.org/media/profiles/politicians/Campbell-Donna768updated_1_jpg_131x197_crop_q100.jpg">
      </div>
      <h4 class="curated">Curated by XXX and XXX</h4>
    </header>

    <div class="issue-list-landing">
      <ul>
      {% for issue in topic.issues.all %}
        <li><a href="{% url 'issue-detail' topic.slug issue.slug %}">{{ issue.name }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endfor %}

{% endblock %}
