{% extends 'base.html' %}

{% block mobileheader %}
  {% include "components/page-headers/hot-list-landing-header.html" %}
{% endblock %}

{% block desktopheader %}
  {% include "components/page-headers/hot-list-landing-header.html" %}
{% endblock %}

{% block content %}
<section class="body-main">

  {% for issue in object.issues.all %}
  <div class="issue-embed-block prose">
    <div class="issue-header">
      <h3 id="{{ issue.slug }}"><a href="{% url 'issue-detail' object.slug issue.slug %}">{{ issue.name }}</a></h3>
      <div class="share-topic">
        <h4>Share this:</h4>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
      </div>
    </div>
    {{ issue.active_text.text|safe }}
    <div class="issue-legislation">
      <h5>Related Legislation</h5>
      <ul>
      {% for bill in issue.related_bills.all %}
      <li><a href="{% url 'bill-detail' bill.slug %}">{{ bill.name }}</a></li>
      {% endfor %}
      </ul>
    </div>
    <div class="story-stream">
      <h5>Related Content</h5>
<!--       <div class="slick-slide">
        <h4><a href="">Senate Health Committee Considers Merging Agencies</a></h4>
      </div> -->
      <ul>
      {% for story in issue.stream_of.stories.all %}
        <li><a href="{{ story.url }}">{{ story.headline }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</section>


{% endblock %}
