.hot-list-nav {
  nav {
    @include li-grid(12, 2, 3);
  }

  .subscription {
    border: 1px solid $tribune-yellow;
    background-color: $white;
    margin-bottom: .5em;
    padding: .5em 1em;

    p {
      font-size: .9em;
    }
  }

  li {
    min-height: 0;
    margin: 0;

    @include media($small) {
      height: 6em;
    }

    @include media($medium) {
      height: 6em;
    }

    @include media($large) {
      height: 6em;
    }
  }
}

.hot-list-box {
  h5 {
    margin: 0;
    padding-top: .5em;
  }
}

.hot-list-graphic {
  float: left;
  height: 2em;
  width: 2em;

  &.list {
    margin: 0 .5em 4em;
  }

  &.header {
    margin: -.25em .5em 0 0;
  }
}
