.hot-list-nav {
  nav {
    @include li-grid(12, 3, 3);
    margin-top: 1.5em;
  }

  span.see-all {
    float: right;
    font-style: italic;
  }

  .subscription {
    border: 1px solid $tribune-yellow;
    background-color: $white;
    padding: .5em 1em;

    p {
      font-size: .9em;
    }
  }

  ul {
    margin: 1em 0;
  }

  li {
    min-height: 2.25em;
    margin-top: .25em;
    margin-bottom: .25em;
  }
}

.hot-list-box {
  h5 {
    margin: 0;
  }
}

.hot-list-graphic {
  border: 1px solid;
  float: left;
  height: 1.5em;
  margin: 0 .75em 0 0;
  width: 1.5em;
}
