.ad-container {
  margin: 0;
}

.banner-ad {
  @extend %content-block;
  text-align: center;
  width: 100%;

  div {
    border: 1px solid $line-gray;
  }

  @include media($medium) {
    text-align: left;
  }

  @include media($large) {
    text-align: left;
  }

  &.bottom {
    margin: 1em auto;
  }

}

.box-ad {
  margin-bottom: 1em;
}

.rotating-ad {
  margin: 1em auto;
  text-align: center;
}
