.ad-container {
  @include clearfix;
  border-bottom: 1px solid $href-offwhite;
  border-top: 1px solid $href-offwhite;
  padding: 1em 0;
  margin: 1em 0;
}

.banner-ad {
  @extend %content-block;
  text-align: center;
  width: 100%;

  div {
    border: 1px solid $href-offwhite;
  }

  &.bottom {
    margin: 1em auto;
  }

}

.box-ad {
  margin-bottom: 1em;
}

.rotating-ad {
  margin: 1em auto;
  text-align: center;
}
