.banner-links {
  background-color: transparentize($light-teal, .8);
  position: relative;
  text-align: center;
  padding: 1em 0;
  margin-bottom: .25em;

  p {
    color: $tribune-black;
    font-family: $georgia;
    font-size: 1.125em;
    font-weight: 800;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  li {
    @include span-columns(6);
    @include omega(2n);

    &:last-child {
      border-left: 1px solid $teal;
    }
  }

  // a {
  //   color: $text-gray;

  //   &:hover {
  //     color: $text-gray;
  //   }

  // }
}
