.end-of-session {
  background-color: transparentize($light-teal, .8);
  position: relative;
  text-align: center;
  padding: 1em;
  margin-bottom: .25em;

  p {
    color: $tribune-black;
    font-family: $georgia;
    font-size: 1.125em;
    font-weight: 800;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    text-align: center;

    span {
      color: $teal;

      &:hover {
        color: $teal;
        text-decoration: underline;
      }
    }
  }

  a {
    color: $tribune-black;

    &:hover {
      color: $tribune-black;
      text-decoration: none;
    }
  }
}
