.masthead {
  background-color: $bodytext-black;
  color: $white;
  padding: .625em;

  .trib-logo {
    height: 1.5em;
    vertical-align: bottom;
  }

  .menu-button {
    background-color: $bodytext-black;
    border: 0;
    float: right;
    font-size: 1.375em;
    line-height: 0;
    outline: 0;
    padding: 0;
    text-align: center;

    .fa {
      margin: 0;
      padding: 0;
      transition: transform .2s ease;
    }

    .fa-times {
      transform: rotate(180deg);
    }
  }
}

.menu-nav {
  display: none;

  &-open {
    display: block;
  }

  a {
    color: $white;

    &:hover {
      color: $tribune-yellow;
      text-decoration: none;
    }
  }

  ul {
    list-style: none;
  }

  li {
    background-color: $tagline-black;
    border-bottom: 1px solid $text-gray;
    padding: .75em;

    &:hover {
      background: $li-black;
    }
  }
}
