.share-page {
  // For breakpoints, see components/_page-header.scss

  text-align: center;
  margin: 1em 0;

  a {
    color: $white;
  }

  li {
    @include omega(3n);
    color: $white;
    display: inline-block;
    line-height: 1em;
    margin: 0 .25em;
    padding: .875em 1.25em .625em;
    text-align: center;
    width: 25%;

    &:hover {
      color: $tagline-black;
      padding: .875em 1.25em .75em;
    }
  }

  .fa {
    margin: 0;
  }

  .email {
    @include button($tribune-yellow, $hover-yellow, $yellow-highlight);
  }

  .facebook {
    @include button($fb-blue, $fb-hover, $fb-accent);
  }

  .twitter {
    @include button($tw-blue, $tw-hover, $tw-accent);
  }

}

