.featured-content {
  @include span-columns(12);

  @include media($medium) {
    @include span-columns(8);
    @include omega();
  }

  @include media($large) {
    @include span-columns(8);
    @include omega();
  }

  .feature-box {
    h2,
    h3 {
      margin: .5em 0;
    }

    h4 {
      margin-top: 2em;
    }
  }

  .more-videos {
    h4 {
      margin-top: 0;
    }

    div {
      @include span-columns(4 of 8);
      @include omega(n);
      @include pad(.25em);
    }
  }

}
