.texplainer-content {
  @include span-columns(12);

  .texplainer-content-box {
    @include span-columns(12);

    p {
      margin-bottom: 1em;
    }

  }

  iframe {
    margin-bottom: 1em;
  }

  .more-videos {
    @include div-grid(12, 2);

    div {
      margin-bottom: 2em;
    }
  }

}

.flexible-video {
  margin-bottom: 1em;
}
