$ls-small: new-breakpoint(min-width 695px max-width 799px);

.livestream {
  @include clearfix;

  .watch {
    @include media($ls-small) {
      .chamber {
        @include span-columns(6);
        @include omega(2n);
      }
    }

    @include media($large) {
      .chamber {
        @include span-columns(6);
        @include omega(2n);
      }
    }
  }

}

.legestream-page {
  .watch {
    @include media($ls-small) {
      .chamber {
        @include span-columns(12);
      }
    }

    @include media($large) {
      .chamber {
        @include span-columns(12);
      }
    }
  }
}

.stream-placeholder {
  background-color: $tribune-black;
  color: $white;
  cursor: pointer;
  height: 0;
  padding-bottom: 56.25%; // Enforces the 16:9 ratio
  padding-top: 30px; // The height of the controls in the Granicus viewer - a magic number, but it needs to stay!
  position: relative;
  transform-style: preserve-3d; // Makes the centering with .stream-prompt not result in blurry text if it draws a half-pixel

  &:hover {
    color: $tribune-yellow;
  }

  // Don't show that weird black bar when someone insists on clicking on the video when it isn't live
  &.stream-activated {
    background-color: transparent;
  }

  // The iframe is putting full faith into its container to show it the way + some JS help
  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.stream-prompt {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
