$ls-small: new-breakpoint(min-width 695px max-width 799px);

.livestream {
  @include clearfix;

  .watch {
    @include media($ls-small) {
      .chamber {
        @include span-columns(6);
        @include omega(2n);
      }
    }

    @include media($large) {
      .chamber {
        @include span-columns(6);
        @include omega(2n);
      }
    }

    .chamber:last-child {
      margin-top: 1.5em;
    }
  }

}

.legestream-page {
  .watch {
    @include media($ls-small) {
      .chamber {
        @include span-columns(12);
      }
    }

    @include media($large) {
      .chamber {
        @include span-columns(12);
      }
    }

    .chamber:last-child {
      margin-top: 1.5em;
    }
  }
}

.stream-placeholder {
  background-color: $tribune-black;
  color: $white;
  cursor: pointer;
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
  transform-style: preserve-3d;

  &:hover {
    color: $tribune-yellow;
  }

  &.stream-activated {
    background-color: transparent;
  }

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.stream-prompt {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
